.clearfix:after {
	content: '.';
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}
.brand {
	padding: 0 12px;
	box-sizing: border-box;
	z-index: 1000;
}
.brand_section {
	width: 100%;
	position: relative;
}
#footer {
	position: relative;
	bottom: 0;
}
#footer .line_top {
	border-top: none;
}
#footer .line {
	border: none;
}
#footer .benchmark_footer {
	border-top: solid 1px #333;
}
.l_footer_inner {
	color: #cccccc;
}
.social_btn {
	position: absolute;
	right: 0;
	padding-top: 0;
	z-index: 1;
}
.db-tooltip_external_header,
.db-tooltip_external_footer {
	display: none !important;
}
.nav {
	margin-bottom: 16px;
}
.nav li {
	padding: 0 0 0 0;
	margin: 0 0 16px 0;
	font-size: 14px;
	min-width: 240px;
	text-align: left;
}
.nav li li {
	padding: 0 0 0 20px;
	margin: 0 0 0 0;
}
.nav_floating {
	position: static;
	top: 16px;
	z-index: 10000;
}
.nav_floating_icon {
	display: block;
	background: url(../img/svg/dots-vertical.svg) no-repeat 0 0;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	float: right;
	cursor: pointer;
	margin-left: 4px;
	line-height: 1;
	transition: all 0.4s;
	z-index: 15;
}
.nav_floating_icon.fixed {
	position: fixed;
	top: 70px;
	right: 25px;
}
.job--adjustments .nav_floating_icon.fixed {
	top: 16px;
}
.nav_floating_bace_position {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 11;
}
.nav_floating_list {
	background: #e5e3d3;
	width: auto;
	max-width: 560px;
	border-radius: 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	padding: 16px 0 16px 16px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	z-index: 11;
	display: none;
	float: right;
}
.nav_floating_list_wrapper {
	overflow: overlay;
	position: relative;
	height: 100%;
	max-height: 750px;
	padding-right: 16px;
}
.nav_floating_list_wrapper .iScrollVerticalScrollbar {
	width: 12px !important;
	right: 0px !important;
	z-index: 10 !important;
}
.nav_floating_list_wrapper .iScrollIndicator {
	width: 4px !important;
	border-radius: 4px !important;
	right: 6px !important;
	border: none !important;
}
.nav_floating_list.fixed {
	position: fixed;
	top: 70px;
	right: 65px;
}
.job--adjustments .nav_floating_list.fixed {
	top: 16px;
}
.nav_floating_list ul {
	width: 240px;
	margin-bottom: 16px;
}
.nav_floating_list li {
	width: 48px;
	height: 48px;
	float: left;
	position: relative;
}
.nav_floating_list li.ic_new::after,
.nav_floating_list li.ic_update::after {
	content: '';
	background: url(/promo/h/U/EEHem7iD9dYgkFBU33-8QxjUtY.png) no-repeat 0 0;
	display: block;
	position: absolute;
	top: -4px;
	left: -2px;
	width: 52px;
	height: 52px;
	pointer-events: none;
	z-index: 2;
}
.nav_floating_list li.ic_update::after {
	background: url(/promo/h/3/1rYfm1nvsGJyV5qRwpVyH58Wzc.png) no-repeat 0 0;
}
.jobguide.jp {
	font-family: 'Noto Sans JP', sans-serif;
}
.jobguide .txt_blue {
	color: #2975cc;
	font-size: inherit;
}
.jobguide_social {
	position: absolute;
	top: 10px;
	right: 16px;
	width: 100%;
}
.jobguide_lodestone {
	width: 304px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 18px;
}
.jobguide_lodestone a {
	display: block;
	width: 304px;
	height: 30px;
	position: relative;
	overflow: hidden;
}
.jobguide_lodestone a img {
	display: block;
}
.jobguide_lodestone a:hover img {
	margin-top: -32px;
}
.jobguide_lodestone a:active img {
	margin-top: -64px;
}
.jobguide_catch {
	background: #800000;
	padding: 3px 0;
}
.jobguide_catch p {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}
.jobguide_content {
	width: 800px;
	padding: 16px 0 120px;
	margin: 0 auto;
}
.jobguide_text {
	margin-bottom: 32px;
	font-size: 14px;
}
.jobguide_index_header {
	height: 360px;
}
.jobguide_index_header--battle {
	background: url(/promo/h/z/fFE6fR4HlX3sej8omq6koFeG-4.jpg) no-repeat top center #222;
	background-attachment: fixed;
}
.jobguide_index_header--pvp {
	background: url(/promo/h/v/NvMppRE0zRbjMMkdxAKCVSFjbY.jpg) no-repeat top center #2f0f00;
	background-attachment: fixed;
}
.jobguide_index_header_inner {
	width: 960px;
	height: 360px;
	margin: 0 auto;
	position: relative;
}
.jobguide_index_header_inner h1 {
	position: absolute;
	top: 76px;
	left: 0;
	width: 960px;
	height: 244px;
}
.jobguide_index_header_update {
	position: absolute;
	top: 290px;
	right: 0;
}
.jobguide_index_header_update img {
	display: block;
}
.jobguide_index_header_update p {
	padding-right: 22px;
	text-align: right;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	text-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
	line-height: 1;
}
.jobguide_index_header_update p span {
	font-size: inherit;
}
.jobguide_index_joblink {
	margin-bottom: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.jobguide_index_joblink--tank,
.jobguide_index_joblink--healer,
.jobguide_index_joblink--dps {
	width: 390px;
	overflow: hidden;
}
.jobguide_index_joblink--tank h2,
.jobguide_index_joblink--healer h2,
.jobguide_index_joblink--dps h2 {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background: #2d3a80;
	position: relative;
	padding: 2px;
	font-size: 16px;
	color: #ffffff;
	font-weight: 900;
	line-height: 32px;
}
.jobguide_index_joblink--tank h2 img,
.jobguide_index_joblink--healer h2 img,
.jobguide_index_joblink--dps h2 img {
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin-right: 2px;
}
.jobguide_index_joblink--tank_body,
.jobguide_index_joblink--healer_body,
.jobguide_index_joblink--dps_body {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow: hidden;
	padding-bottom: 12px;
}
.jobguide_index_joblink--tank_body p,
.jobguide_index_joblink--healer_body p,
.jobguide_index_joblink--dps_body p {
	padding: 16px 16px 12px;
	font-size: 14px;
}
.jobguide_index_joblink--tank_body ul li a,
.jobguide_index_joblink--healer_body ul li a,
.jobguide_index_joblink--dps_body ul li a {
	display: block;
	padding: 4px 16px;
	line-height: 48px;
	color: #2d3a80;
	font-size: 14px;
	font-weight: 900;
	background: rgba(153, 170, 255, 0);
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}
.jobguide_index_joblink--tank_body ul li a:hover,
.jobguide_index_joblink--healer_body ul li a:hover,
.jobguide_index_joblink--dps_body ul li a:hover {
	background: rgba(153, 170, 255, 0.2);
	text-decoration: none;
}
.jobguide_index_joblink--tank_body ul li a img,
.jobguide_index_joblink--healer_body ul li a img,
.jobguide_index_joblink--dps_body ul li a img {
	margin-right: 8px;
}
.jobguide_index_joblink--tank_body ul li a img.ic_new,
.jobguide_index_joblink--tank_body ul li a img.ic_update,
.jobguide_index_joblink--healer_body ul li a img.ic_new,
.jobguide_index_joblink--healer_body ul li a img.ic_update,
.jobguide_index_joblink--dps_body ul li a img.ic_new,
.jobguide_index_joblink--dps_body ul li a img.ic_update {
	position: absolute;
	top: 50%;
	right: 16px;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	pointer-events: none;
	margin-right: 0;
}
.jobguide_index_joblink--tank_body ul li a span,
.jobguide_index_joblink--healer_body ul li a span,
.jobguide_index_joblink--dps_body ul li a span {
	margin-left: 16px;
	color: #cc0000;
	font-size: 14px;
	font-weight: bold;
}
.jobguide_index_joblink--tank {
	margin-right: 20px;
	background: url(/promo/h/g/G4XW29j4s9G2YMccz5rfCYRjq8.jpg) bottom right no-repeat #f3f3f3;
}
.jobguide_index_joblink--tank--pvp {
	background: url(/promo/h/c/ursziEhcBf6HaYEzHdZNXjOop0.jpg) bottom right no-repeat #f3f3f3;
}
.jobguide_index_joblink--healer {
	border-radius: 6px;
	background: url(/promo/h/0/8Ntm_cEKbHJgfLWh1B6KBH5ZRI.jpg) bottom right no-repeat #f3f3f3;
}
.jobguide_index_joblink--healer--pvp {
	background: url(/promo/h/3/tFnsPN9JKWgt_OjvJ_SLGBbDgc.jpg) bottom right no-repeat #f3f3f3;
}
.jobguide_index_joblink--healer h2 {
	background: #346624;
}
.jobguide_index_joblink--healer_body ul li a {
	color: #346624;
	background: rgba(134, 191, 115, 0);
}
.jobguide_index_joblink--healer_body ul li a:hover {
	background: rgba(134, 191, 115, 0.2);
}
.jobguide_index_joblink--dps {
	width: 800px;
	float: none;
	overflow: hidden;
}
.jobguide_index_joblink--dps_inner {
	width: 390px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-right: 20px;
}
.jobguide_index_joblink--dps_inner:nth-last-child(1) {
	margin-right: 0;
}
.jobguide_index_joblink--dps h2 {
	background: #732828;
}
.jobguide_index_joblink--dps_body {
	background: url(/promo/h/p/X1Dhv7Y8Pzwla5BuUigBkfG7uc.jpg) 72px bottom no-repeat #f3f3f3;
	margin-bottom: 32px;
}
.jobguide_index_joblink--dps_body--melee {
	background: url(/promo/h/j/nLT55vE3FZkGmDftbItUX_Nauc.jpg) bottom right no-repeat #f3f3f3;
}
.jobguide_index_joblink--dps_body--p_range {
	background: url(/promo/h/R/vsWUWPpk8Gn8CdFVSlIZB9L5S4.jpg) bottom right no-repeat #f3f3f3;
}
.jobguide_index_joblink--dps_body--m_range {
	background: url(/promo/h/K/F3Gli2u_wOUebuyieZz2jDkizE.jpg) bottom right no-repeat #f3f3f3;
}
.jobguide_index_joblink--dps_body ul li a {
	display: block;
	padding: 4px 16px;
	line-height: 48px;
	color: #732828;
	font-size: 14px;
	font-weight: 900;
	background: rgba(229, 161, 161, 0);
}
.jobguide_index_joblink--dps_body ul li a:hover {
	background: rgba(229, 161, 161, 0.2);
	text-decoration: none;
}
.jobguide_index_joblink--dps_body ul li a img {
	margin-right: 8px;
}
.jobguide_index_joblink--dps h3 {
	margin-left: 16px;
	border-bottom: 1px solid #cccccc;
	font-size: 16px;
	font-weight: 900;
	color: #585858;
	padding-bottom: 4px;
	line-height: 32px;
}
.jobguide_index_joblink--dps h3 img {
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin-right: 2px;
}
.jobguide_index_joblink--dps h3.top {
	padding-top: 16px;
}
.jobguide_index_joblink--dps_list_mb {
	margin-bottom: 30px;
}
.jobguide_btn {
	background: #4c7ee8;
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
	display: block;
	width: 640px;
	height: 50px;
	margin: 0 auto 64px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #f3f3f3;
	font-weight: bold;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.jobguide_btn:hover {
	background: #628eeb;
	text-decoration: none;
	color: #f3f3f3;
}
.jobguide_btn:active {
	background: #4c7ee8;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
}
.jobguide_btn--adjustments {
	background: #f07800;
	-moz-box-shadow: 0px 2px 4px 0px rgba(240, 120, 0, 0.5);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(240, 120, 0, 0.5);
	box-shadow: 0px 2px 4px 0px rgba(240, 120, 0, 0.5);
	display: block;
	width: 640px;
	height: 48px;
	margin: 32px auto 0;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.jobguide_btn--adjustments:hover {
	background: #f09030;
	text-decoration: none;
	color: #ffffff;
}
.jobguide_btn--adjustments:active {
	background: #f07800;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
}
.jobguide_adjustment {
	background: #f3f3f3;
	border-radius: 8px;
	margin-top: 16px;
}
.jobguide_adjustment_wrapper {
	width: 800px;
	margin: 32px auto;
}
.jobguide_adjustment_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f0a000;
	width: 100%;
	min-height: 48px;
	margin: 0 auto;
	padding: 8px 48px;
	box-sizing: border-box;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-moz-box-shadow: 0px 2px 4px 0px rgba(240, 160, 0, 0.5);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(240, 160, 0, 0.5);
	box-shadow: 0px 2px 4px 0px rgba(240, 160, 0, 0.5);
	cursor: pointer;
	position: relative;
}
.jobguide_adjustment_btn:hover {
	background: #f0b030;
	text-decoration: none;
	color: #f3f3f3;
}
.jobguide_adjustment_btn:active {
	background: #f0a000;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
}
.jobguide_adjustment_btn:after {
	content: '';
	background: url(/promo/h/Z/73sXG2cV29BekT7WKKaw6QT6h4.png) no-repeat center center;
	background-size: 100% auto;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 0;
	right: 8px;
	bottom: 0;
	margin: auto;
}
.jobguide_adjustment_btn.open:after {
	background: url(/promo/h/3/HPUkZa6viwUm9Q9rRsYzZV1KMI.png) no-repeat center center;
	background-size: 100% auto;
}
.jobguide_adjustment_btn h2 {
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
}
.jobguide_adjustment_content {
	display: none;
	padding: 32px;
}
.jobguide_adjustment_content p {
	margin-bottom: 32px;
	color: #585858;
	font-size: 14px;
	line-height: 1.5;
}
.jobguide_adjustment_content dl dt {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 900;
	line-height: 48px;
}
.jobguide_adjustment_content dl dt a {
	font-size: 16px;
	font-weight: 900;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.jobguide_adjustment_content dl dt a:hover {
	text-decoration: none;
}
.jobguide_adjustment_content dl dt img {
	width: 48px;
	height: 48px;
	margin-right: 8px;
}
.jobguide_adjustment_content dl dd {
	margin-bottom: 32px;
	color: #585858;
	font-size: 14px;
	line-height: 1.5;
}
.jobguide_adjustment--icon {
	-moz-background-size: 40px 40px;
	-o-background-size: 40px 40px;
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	display: inline-block;
	width: 48px;
	height: 48px;
	margin-right: 8px;
	vertical-align: middle;
	position: relative;
}
.jobguide_adjustment--icon img {
	display: block;
	width: 40px !important;
	height: 40px !important;
	margin-right: 0;
	position: absolute;
	top: 2px;
	left: 50%;
	margin-left: -20px;
	z-index: 1;
}
.jobguide_adjustment--icon:after {
	background: url(../img/main/skil_icon_on.png) no-repeat;
	-moz-background-size: 48px 48px;
	-o-background-size: 48px 48px;
	-webkit-background-size: 48px 48px;
	background-size: 48px 48px;
	content: '';
	display: block;
	width: 48px;
	height: 48px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.jobguide_adjustment--general {
	color: #585858;
}
.jobguide_adjustment--tank {
	color: #2d3a80;
}
.jobguide_adjustment--tank a {
	color: #2d3a80;
}
.jobguide_adjustment--tank a:hover {
	color: #5067e5;
}
.jobguide_adjustment--healer {
	color: #346624;
}
.jobguide_adjustment--healer a {
	color: #346624;
}
.jobguide_adjustment--healer a:hover {
	color: #5dd33e;
}
.jobguide_adjustment--dps {
	color: #732828;
}
.jobguide_adjustment--dps a {
	color: #732828;
}
.jobguide_adjustment--dps a:hover {
	color: #d94c4c;
}
.jobguide_adjustment_close {
	display: block;
	background: #f0a000;
	width: 240px;
	height: 32px;
	margin: 64px auto 0;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-moz-box-shadow: 0px 2px 4px 0px rgba(240, 160, 0, 0.5);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(240, 160, 0, 0.5);
	box-shadow: 0px 2px 4px 0px rgba(240, 160, 0, 0.5);
	cursor: pointer;
}
.jobguide_adjustment_close:hover {
	background: #f0b030;
	text-decoration: none;
	color: #f3f3f3;
}
.jobguide_adjustment_close:active {
	background: #f0a000;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
}
.job_header {
	width: 100%;
	height: 360px;
	position: relative;
	position: relative;
}
.job_header--adjustments {
	background: url(/promo/h/o/VC4rU3pe-FXLp5B6Ea1xSxK8Ao.jpg) no-repeat center top #222;
	background-attachment: fixed;
	height: 120px;
}
.job_header_inner {
	width: 960px;
	margin: 0 auto;
	padding-top: 4px;
}
.job--adjustments .job_header_inner {
	height: 120px;
	box-sizing: border-box;
	position: relative;
}
.job--adjustments .job_header_inner h1 {
	display: block;
	width: 100%;
	color: #ffffff;
	font-size: 32px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	text-shadow: 0px 0px 8px #060e1a, 0px 0px 16px #060e1a, 0px 0px 16px #060e1a;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.job--adjustments .job_header_inner h1 span {
	display: block;
	margin-bottom: 8px;
	font-size: 20px;
}
.job_header_guide_top img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.job_header_guide_top img.on {
	opacity: 0;
}
.job_header_guide_top span {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 1px 4px #000;
	text-shadow: 0px 1px 4px 0px #000;
	position: relative;
}
.job_header_jobname {
	margin-bottom: 4px;
}
.job_header_jobname_role {
	margin-left: 16px;
	display: block;
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}
.job_header_jobname_role img {
	display: inline-block;
	margin-right: 4px;
}
.job_header_quest {
	margin-left: 6px;
}
.job_header_quest_jobquest {
	display: inline-block;
	margin-right: 16px;
	/* float: left; */
}
.job_header_quest_jobquest:hover {
	text-decoration: none;
}
.job_header_quest_jobquest_inner {
	background: #333333;
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
	border-radius: 12px;
	display: block;
	position: relative;
	padding: 1px 16px 0 36px;
	height: 24px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 24px;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}
.job_header_quest_jobquest_inner img {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -16px;
}
.job_header_quest_classquest {
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	line-height: 24px;
}
.job_header_quest_classquest:hover {
	color: #ffffff;
	text-decoration: none;
}
.job_wrapper {
	width: 960px;
	height: 1%;
	margin: 0 auto 120px;
	padding-top: 16px;
	position: absolute;
	top: -99999px;
}
.job_loading {
	display: block;
	background: url(/promo/h/n/RxskSJ4bsPAh9Mxuw9WB4sqePA.gif) no-repeat 50% 60px;
	-moz-background-size: 60px 60px;
	-o-background-size: 60px 60px;
	-webkit-background-size: 60px 60px;
	background-size: 60px 60px;
	height: 720px;
}
.job_tab li {
	width: 480px;
	height: 48px;
	float: left;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: center;
	cursor: pointer;
}
.job_tab--pve {
	background: #e5e3d3;
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
.job_tab--pve:hover {
	background: #f2efdf;
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
.job_tab--pve:active {
	background: #f2efdf;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}
.job_tab--pve.active {
	background: #e5e3d3;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}
.job_tab--pvp {
	background: #d9d9d9;
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
.job_tab--pvp:hover {
	background: #e5e5e5;
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
.job_tab--pvp:active {
	background: #e5e5e5;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}
.job_tab--pvp.active {
	background: #d9d9d9;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}
.job_content {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 16px 10px 10px;
	position: absolute;
	top: -99999px;
}
.job_content--battle {
	background: #e5e3d3;
	-moz-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset, 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
	-webkit-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset, 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset, 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}
.job_content--pvp {
	background: #d9d9d9;
	-moz-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset, 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
	-webkit-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset, 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset, 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}
.job_content_wrapper {
	margin-bottom: 64px;
}
.job_content.active {
	position: static;
}
.job--adjustments .job_content {
	padding: 32px 10px 10px;
}
.job_nav--pve,
.job_nav--pvp {
	display: none;
	width: 100%;
}
.job_nav--pve.active,
.job_nav--pvp.active {
	display: block;
}
.job_update {
	margin-bottom: 6px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	color: #585858;
	font-family: 'Noto Sans', sans-serif;
}
.job_update span {
	font-size: inherit;
	font-weight: bold;
	color: #585858;
	font-family: 'Noto Sans', sans-serif;
}
.job_title {
	font-size: 16px;
	font-weight: 900;
	color: #ffffff;
	border-radius: 6px;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	margin-bottom: 16px;
}
.job_title .ic_new,
.job_title .ic_update {
	display: inline-block;
	margin-left: 4px;
	margin-top: -4px;
	vertical-align: middle;
}
.job--adjustments .job_title {
	height: 32px;
	margin-bottom: 0;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.job--adjustments .job_content--battle .job_title {
	background: #bfb88f;
}
.job--adjustments .job_content--pvp .job_title {
	background: #b3b3b3;
}
.job_sub_title {
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px 16px;
}
.job_sub_title .ic_new,
.job_sub_title .ic_update {
	display: inline-block;
	margin-left: 4px;
	margin-top: -4px;
	vertical-align: middle;
}
.job_sub_title.mb0 {
	margin-bottom: 0;
}
.job_nav_title {
	margin-bottom: 8px;
}
.job_nav_title--onlytrait,
.job_nav_title--limitbreak {
	margin-bottom: 16px;
}
.job_nav_title--pet {
	margin-bottom: 16px;
}
.job_nav_title--pet h2 {
	margin-bottom: 0;
}
.job_nav_title a {
	font-size: 14px;
	position: relative;
}
.job_nav_title a:hover {
	text-decoration: none;
}
.job_nav_title a.ic_new::after,
.job_nav_title a.ic_update::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: -16px;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	background: #cc2929;
	border-radius: 4px;
	pointer-events: none;
}
.job_nav_title a.ic_update::after {
	background: #e68600;
}
.job--adjustments .job_nav_title a {
	color: #2556b8;
}
.job--adjustments .job_nav_title a:hover {
	text-decoration: underline;
}
.job_nav_title.adjustments {
	color: #585858;
	font-size: 14px;
}
.job_text {
	margin: 0 10px 16px;
	font-size: 14px;
}
.job_hud_title {
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px 16px;
}
.job_hud_text {
	margin: 0 10px 16px 10px;
	font-size: 14px;
	color: #585858;
}
.job_hud_text .txt_red {
	font-size: 14px;
	font-weight: normal;
	color: #b2122d !important;
}
.job_hud_text strong {
	font-size: 14px;
	font-weight: bold;
}
.job_hud_image {
	float: left;
	margin-right: 20px;
	display: block;
}
.job_hud_image.machinist {
	margin-right: 8px;
}
.job_hud_image.machinist--mr0 {
	margin-right: 0;
}
.job_hud_image.summoner,
.job_hud_image.redmage {
	margin-right: 40px;
}
.job_hud_layout {
	margin: 0 0 0 10px;
}
.job_hud_layout--mb16 {
	margin: 0 0 16px 10px;
	height: 1%;
}
.job_hud_layout--mb32 {
	margin: 0 0 32px 10px;
	height: 1%;
}
.job_hud_layout--pve,
.job_hud_layout--pvp {
	text-align: center;
	margin: 0 auto 32px;
}
.job_hud_layout--pve th,
.job_hud_layout--pvp th {
	padding: 0 20px;
	font-weight: normal;
}
.job_hud_layout--pve th.column03,
.job_hud_layout--pvp th.column03 {
	padding: 0 10px;
}
.job_hud_layout--pve td,
.job_hud_layout--pvp td {
	padding: 6px 20px 16px;
	font-size: 14px;
	color: #585858;
	vertical-align: top;
}
.job_hud_layout--pve.column03 th,
.job_hud_layout--pvp.column03 th {
	padding: 0 10px;
}
.job_hud_layout--pve.column03 td,
.job_hud_layout--pvp.column03 td {
	padding: 6px 10px 16px;
}
.job_hud_layout--pve_simple,
.job_hud_layout--pvp_simple {
	padding-top: 32px;
	border-top: 1px solid #999999;
}
.job_hud_layout--pve_simple img,
.job_hud_layout--pvp_simple img {
	display: block;
	margin: 0 0 8px 0;
}
.job_hud_layout--pve_simple_caption,
.job_hud_layout--pvp_simple_caption {
	font-size: 12px;
	color: #585858;
	text-align: center;
	padding-top: 0;
}
.job_hud_layout--pve_simple_title,
.job_hud_layout--pvp_simple_title {
	font-size: 14px;
	color: #585858;
	font-weight: bold;
	text-align: left;
}
.job_hud_layout--pve_simple_text,
.job_hud_layout--pvp_simple_text {
	margin-bottom: 16px;
	font-size: 14px;
	color: #585858;
	text-align: left;
}
.job_hud_layout--pve.astrologian th,
.job_hud_layout--pve.astrologian td,
.job_hud_layout--pve.dancer th,
.job_hud_layout--pve.dancer td,
.job_hud_layout--pvp.astrologian th,
.job_hud_layout--pvp.astrologian td,
.job_hud_layout--pvp.dancer th,
.job_hud_layout--pvp.dancer td {
	vertical-align: top;
}
.job_hud_layout--pve.blackmage th,
.job_hud_layout--pve.blackmage td,
.job_hud_layout--pvp.blackmage th,
.job_hud_layout--pvp.blackmage td {
	vertical-align: top;
	text-align: center;
}
.job_hud_layout--pve.blackmage th img,
.job_hud_layout--pve.blackmage td img,
.job_hud_layout--pvp.blackmage th img,
.job_hud_layout--pvp.blackmage td img {
	margin: 0 auto 8px;
}
.job_hud_layout_box {
	margin: 0 auto 16px;
	text-align: center;
}
.job_hud_layout_box--mb32 {
	margin-bottom: 32px;
}
.job_hud_layout_box_image {
	display: block;
	margin: 0 auto 8px;
}
.job_hud_layout--border {
	height: 1px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding-bottom: 0;
	border-top: 1px solid #999999;
}
.job_hud_simple {
	padding-top: 32px;
	border-top: 1px solid #999999;
	margin: 0 10px;
}
.job_hud_simple .job_hud_text--mb32 {
	margin-bottom: 32px;
}
.job_hud_simple_image_box {
	margin: 0 10px 32px;
	width: 290px;
}
.job_hud_simple_image_box.center {
	margin: 0 auto 32px;
}
.job_hud_simple_image_box.scholar,
.job_hud_simple_image_box.ninja,
.job_hud_simple_image_box.summoner,
.job_hud_simple_image_box.redmage {
	margin-right: 40px;
}
.job_hud_simple_image_box.astrologian,
.job_hud_simple_image_box.machinist,
.job_hud_simple_image_box.blackmage {
	margin-right: 8px;
}
.job_hud_simple_image_box img {
	display: block;
	margin: 0 auto 8px;
}
.job_hud_simple_image_box--mr0 {
	margin-right: 0;
}
.job_hud_simple_image_box--mr0 img {
	display: block;
	margin: 0 0 8px 0;
}
.job_hud_simple_image_box--mb16 {
	margin-bottom: 16px;
}
.job_hud_simple_image_box--mb16 img {
	display: block;
	margin: 0 0 8px 0;
}
.job_hud_simple_caption {
	font-size: 14px;
	color: #585858;
	text-align: center;
}
.job_hud_simple_title {
	font-size: 14px;
	color: #585858;
	text-align: left;
	margin: 0 10px 8px;
}
.job_hud_simple_column .job_hud_simple_image_box,
.job_hud_simple_column2 .job_hud_simple_image_box {
	float: left;
	margin-right: 10px;
}
.job_hud_simple_column .job_hud_simple_image_box:nth-last-child(1),
.job_hud_simple_column2 .job_hud_simple_image_box:nth-last-child(1) {
	margin-right: 0;
}
.job_hud_simple_column2 {
	width: 590px;
	margin: 0 auto;
}
.job_table {
	width: 930px;
	margin: 0 auto 8px;
}
.job_thead th {
	padding: 0 1px;
}
.job_thead th:nth-child(1) {
	margin-left: 0;
}
.job_thead th:nth-last-child(1) {
	margin-right: 0;
}
.job_thead p {
	display: table;
	width: 100%;
	height: 53.78px;
	border-radius: 4px;
	text-align: center;
	font-weight: normal;
}
.job_thead p span {
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-size: 12px;
	padding: 0 4px;
	line-height: 1.2;
}
.job_thead div p {
	display: table;
	width: 100%;
	height: 20px;
	border-radius: 4px;
	text-align: center;
	font-weight: normal;
}
.job_thead div p span {
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-size: 12px;
	padding: 0 4px;
	line-height: 1.2;
}
.job_thead hr {
	height: 1px;
	margin: 0;
	padding: 0;
}
.job_thead_update p {
	background: #b36b24 !important;
}
.job_tbody tr.new td {
	background: #f0cece;
	border-bottom: 0;
	height: 16px;
	padding: 0 !important;
}
.job_tbody tr.new + tr td {
	background: #f0dddd;
}
.job_tbody tr.update td {
	background: #f0dfb6;
	border-bottom: 0;
	height: 16px;
	padding: 0 !important;
}
.job_tbody tr.update + tr td {
	background: #f0e4c5;
}
.job_tbody td {
	padding: 3px;
	border-bottom: 1px solid #999999;
	vertical-align: middle;
	text-align: left;
	font-size: 12px;
	color: #585858;
	line-height: 1.4;
}
.job_tbody td img {
	display: inline-block;
	vertical-align: middle;
}
.job_tbody td p {
	display: inline-block;
	vertical-align: middle;
}
.job_tbody td p img {
	display: block;
}
.job_tbody td .class_quest {
	color: #b36b24;
	font-weight: bold;
}
.job_tbody td .class_quest:hover {
	text-decoration: none;
}
.job_tbody td.skill .skill_wrapper,
.job_tbody td.skill .jobclass_wrapper,
.job_tbody td.jobclass .skill_wrapper,
.job_tbody td.jobclass .jobclass_wrapper {
	display: table;
	width: 100%;
	vertical-align: middle;
}
.job_tbody td.skill .skill_wrapper_icon,
.job_tbody td.skill .jobclass_wrapper_icon,
.job_tbody td.jobclass .skill_wrapper_icon,
.job_tbody td.jobclass .jobclass_wrapper_icon {
	display: table-cell;
	vertical-align: middle;
	width: 48px;
}
.job_tbody td.skill .skill_wrapper p,
.job_tbody td.skill .jobclass_wrapper p,
.job_tbody td.jobclass .skill_wrapper p,
.job_tbody td.jobclass .jobclass_wrapper p {
	display: table-cell;
	vertical-align: middle;
	padding-left: 2px;
}
.job_tbody td.skill .jobclass_wrapper_icon,
.job_tbody td.jobclass .jobclass_wrapper_icon {
	width: 32px;
}
.job_tbody td.classification,
.job_tbody td.cast,
.job_tbody td.recast,
.job_tbody td.cost {
	text-align: center;
}
.job_tbody td .new {
	color: #b2122d;
}
.job_tbody td.content,
.job_tbody td.update {
	padding-left: 8px;
	padding-right: 8px;
}
.job_tbody td.update {
	color: #b36b24;
}
.job_tbody td.distant_range img {
	vertical-align: top;
	margin: 0 2px 0 10px;
}
.job_tbody td .update_text {
	text-align: right;
	position: relative;
	margin-top: 8px;
}
.job_tbody td .update_text_tooltip {
	width: 320px;
	position: absolute;
	top: 24px;
	right: 0;
	display: none;
	border-radius: 4px;
	padding: 12px 20px;
	background: #f3f3f3;
	-moz-box-shadow: 0px 0px 0px 2px #f5a300 inset, 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 0px 2px #f5a300 inset, 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 0px 2px #f5a300 inset, 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
	font-size: 12px;
	color: #585858;
	text-align: left;
	font-weight: normal;
	line-height: 1.4;
	cursor: default;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 2;
}
.job_tbody td .update_text_btn {
	background: #e59900;
	display: inline-block;
	width: 120px;
	height: 24px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	border-radius: 12px;
	-moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	line-height: 24px;
}
.job_tbody td .update_text_btn:hover {
	text-decoration: none;
	background: #f5a300;
}
.job_notes {
	margin: 0 10px;
	font-size: 12px;
	color: #b2122d;
}
.job_notes_lv70,
.job_notes_lv80caution {
	background: #fffceb;
	border-radius: 6px;
	margin: 10px 10px 0;
	padding: 6px;
	font-size: 14px;
	font-weight: bold;
	color: #b36b24;
	text-align: center;
}
.job_notes_lv70 a,
.job_notes_lv80caution a {
	color: #2556b8;
}
.job_notes_lv80caution {
	margin: 0 0 10px;
}
.job_notes_lv80caution.bottom {
	margin-bottom: 32px;
}
.job_social .social_btn {
	position: static;
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
.job_skill_icon {
	position: relative;
	width: 48px;
	height: 48px;
	display: inline-block;
	-moz-background-size: 40px 40px;
	-o-background-size: 40px 40px;
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	vertical-align: middle;
}
.job_skill_icon img {
	position: absolute;
	top: 2px !important;
	left: 50% !important;
	margin-left: -20px;
	display: block;
	z-index: 1;
}
.job_combo_text {
	margin: 0 10px 32px;
	font-size: 14px;
}
.job_combo_title {
	margin: 0 10px;
}
.job_combo_title h3 {
	border-radius: 3px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
	font-weight: normal;
	line-height: 28px;
}
.job_combo_title_sequence {
	width: 640px;
	margin-right: 4px;
	float: left;
}
.job_combo_title_effect {
	width: 276px;
	float: left;
}
.job_combo_detail {
	margin: 0 10px;
}
.job_combo_root {
	display: table;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 124px;
}
.job_combo_root_skill,
.job_combo_root_skill_first,
.job_combo_root_skill_last {
	display: table-cell;
	width: 200px;
	padding: 16px 20px 16px 0;
	text-align: center;
}
.job_combo_root_skill p,
.job_combo_root_skill_first p,
.job_combo_root_skill_last p {
	font-size: 12px;
	font-weight: bold;
	color: #585858;
	width: 200px;
}
.job_combo_root_skill_last {
	padding-right: 0;
}
.job_combo_root_dancer,
.job_combo_root_gunbreaker {
	border-bottom: 1px solid #999999;
}
.job_combo_root_effect {
	width: 280px;
	display: table-cell;
	vertical-align: middle;
}
.job_combo_root_effect p {
	display: block;
	/* vertical-align: middle; */
	padding: 16px 12px;
	font-size: 12px;
	color: #585858;
}
.job_combo_root_effect_notes {
	color: #b2122d;
}
.job_combo_skill_icon {
	position: relative;
	width: 76px;
	height: 76px;
	display: inline-block;
	background: url(../img/main/skil_icon.png) no-repeat 6px 3px;
	-moz-background-size: 64px 64px;
	-o-background-size: 64px 64px;
	-webkit-background-size: 64px 64px;
	background-size: 64px 64px;
	vertical-align: middle;
	margin: 0 auto;
}
.job_combo_skill_icon img {
	width: 64px;
	height: 64px;
	position: absolute;
	top: 3px !important;
	left: 50% !important;
	margin-left: -32px;
	display: block;
	z-index: 1;
}
.job_combo_skill_icon:after {
	content: '';
	background: url(../img/main/skil_icon_on2x.png) no-repeat;
	-moz-background-size: 76px 76px;
	-o-background-size: 76px 76px;
	-webkit-background-size: 76px 76px;
	background-size: 76px 76px;
	width: 76px;
	height: 76px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.job_combo_warrior_01 {
	background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo3.png) no-repeat 370px 0;
}
.job_combo_warrior_02 {
	background: url(../img/main/combo4.png) no-repeat 370px 0;
	border-bottom: 1px solid #999999;
}
.job_combo_warrior_03,
.job_combo_darkknight_02,
.job_combo_gunbreaker_02,
.job_combo_ninja_04,
.job_combo_reaper_02 {
	background: url(../img/main/combo.png) no-repeat 150px 0;
	border-bottom: 1px solid #999999;
}
.job_combo_paladin_01 {
	background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
	border-bottom: 1px solid #999999;
}
.job_combo_paladin_02 {
	background: url(../img/main/combo.png) no-repeat 150px 0;
	border-bottom: 1px solid #999999;
}
.job_combo_paladin_03 {
	background: url(../img/main/combo2.png) no-repeat 150px 0, url(../img/main/combo2.png) no-repeat 295px 0, url(../img/main/combo2.png) no-repeat 442px 0;
	margin-bottom: 8px;
	border-bottom: 1px solid #999999;
}
.job_combo_paladin_03 .job_combo_root_skill_first {
	width: 120px;
	padding-left: 40px;
	padding-right: 26px;
}
.job_combo_paladin_03 .job_combo_root_skill_first p {
	width: 120px;
}
.job_combo_paladin_03 .job_combo_root_skill {
	width: 120px;
	padding-right: 26px;
}
.job_combo_paladin_03 .job_combo_root_skill p {
	width: 120px;
	text-align: center;
}
.job_combo_paladin_03 .job_combo_root_skill_last {
	width: 120px;
	padding-right: 40px;
}
.job_combo_paladin_03 .job_combo_root_skill_last p {
	width: 120px;
	text-align: center;
}
.job_combo_darkknight_01,
.job_combo_gunbreaker_01,
.job_combo_reaper_01 {
	background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
	border-bottom: 1px solid #999999;
}
.job_combo_machinist_01 {
	background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
	border-bottom: 1px solid #999999;
	margin-bottom: 8px;
}
.job_combo_dragoon_01 {
	background: url(../img/main/combo3.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
}
.job_combo_dragoon_02 {
	background: url(../img/main/combo4.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
	border-bottom: 1px solid #999999;
}
.job_combo_dragoon_03 {
	background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
	border-bottom: 1px solid #999999;
	margin-bottom: 8px;
}
.job_combo_ninja_01 {
	background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo3.png) no-repeat 370px 0;
}
.job_combo_ninja_02 {
	background: url(../img/main/combo4.png) no-repeat 370px 0;
	border-bottom: 1px solid #999999;
}
.job_combo_samurai_01 {
	background: url(../img/main/combo3.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
}
.job_combo_samurai_02 {
	background: url(../img/main/combo10.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
}
.job_combo_samurai_03 {
	background: url(../img/main/combo4.png) no-repeat 150px 0;
	border-bottom: 1px solid #999999;
}
.job_combo_samurai_04 {
	background: url(../img/main/combo3.png) no-repeat 150px 0;
}
.job_combo_samurai_05 {
	background: url(../img/main/combo4.png) no-repeat 150px 0;
	border-bottom: 1px solid #999999;
	margin-bottom: 8px;
}
.job_combo_redmage_01 {
	background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
	border-bottom: 1px solid #999999;
}
.job_combo_dancer_01_inner {
	width: 640px;
	padding-left: 55px;
	padding-right: 165px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../img/main/combo.png) no-repeat 205px 0;
}
.job_combo_dancer_02 {
	position: relative;
}
.job_combo_dancer_02_inner {
	width: 640px;
	height: 124px;
	padding-left: 165px;
	padding-right: 55px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../img/main/combo9.png) no-repeat 95px 0, url(../img/main/combo9.png) no-repeat 315px 0;
}
.job_combo_dancer_02_percent {
	position: absolute;
	top: 50%;
	left: 95px;
	transform: translateY(-50%);
}
.job_combo_dancer_02_percent .job_combo_root_skill {
	width: 120px;
	padding: 0 95px 0 5px;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.job_combo_dancer_02_percent p {
	width: 120px;
}
.job_combo_dancer_02_percent p span {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #5c95e5;
}
.job_combo_dancer {
	display: table-cell;
	width: 640px;
}
.job_combo_gunbreaker {
	display: table-cell;
	width: 600px;
}
.job_combo_gunbreaker_03 {
	background: url(../img/main/combo5.png) no-repeat 150px 0, url(../img/main/combo5.png) no-repeat 370px 0;
}
.job_combo_gunbreaker_04 {
	background: url(../img/main/combo6.png) no-repeat 40px 0, url(../img/main/combo7.png) repeat-y 150px 0, url(../img/main/combo6.png) no-repeat 260px 0, url(../img/main/combo7.png) repeat-y 370px 0, url(../img/main/combo6.png) no-repeat 480px 0;
}
.job_combo_gunbreaker_05 {
	background: url(../img/main/combo8.png) no-repeat 150px 0, url(../img/main/combo8.png) no-repeat 370px 0;
}
.job_monkcombo {
	display: table;
	margin: 0 10px 8px;
}
.job_monkcombo_action {
	display: table-cell;
	border-radius: 4px;
	box-shadow: inset 0 0 0 2px #8c4d4d;
	background: #f2f2f2;
	width: 280px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	padding: 2px;
}
.job_monkcombo_action_title {
	background: #8c4d4d;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	padding: 8px 0;
	line-height: 1;
}
.job_monkcombo_action_skill,
.job_monkcombo_action_skill_last {
	padding: 8px 8px 0 8px;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-box-align: center;
	box-align: center;
	align-items: center;
	width: 276px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.job_monkcombo_action_skill_last,
.job_monkcombo_action_skill_last_last {
	padding-bottom: 16px;
}
.job_monkcombo_action_skill_icon,
.job_monkcombo_action_skill_last_icon {
	vertical-align: middle;
	padding-right: 4px;
}
.job_monkcombo_action_skill_name,
.job_monkcombo_action_skill_last_name {
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
}
.job_monkcombo_action_effect_title {
	background: #ebdfdf;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	color: #732828;
	display: block;
	text-align: left;
}
.job_monkcombo_action_effect_text {
	padding: 8px 6px 16px;
	text-align: left;
}
.job_monkcombo_arrow {
	display: table-cell;
	vertical-align: middle;
}
.job--bluemage .job_nav_title {
	max-width: 240px;
	padding-right: 16px;
	box-sizing: border-box;
}
.job--bluemage .job_nav_title a {
	color: #2556b8;
	display: inline-block;
}
.job--bluemage .job_hud_title {
	color: #3d5499;
}
.job--bluemage .nav_floating_list {
	height: auto !important;
}
.bluemage-wrapper {
	width: 960px;
	margin: 16px auto 120px;
	border-radius: 8px;
	padding: 16px 10px 5px;
	background: #e5e3d3;
	box-sizing: border-box;
	-moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
	position: static;
}
.bluemage-content {
	padding-bottom: 32px;
}
.bluemage-update {
	margin-bottom: 16px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	color: #585858;
	font-family: 'Noto Sans', sans-serif;
}
.bluemage-update span {
	font-size: inherit;
}
.bluemage-lead {
	background: #fffceb;
	border-radius: 6px;
	margin: 10px 0;
	padding: 6px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #585858;
}
.bluemage-image {
	display: block;
	margin: 0 auto 16px;
	border-radius: 8px;
}
.bluemage-image_mb {
	display: block;
	margin: 0 auto 32px;
	border-radius: 8px;
}
.bluemage-indent {
	padding: 0 16px;
}
.bluemage-sub_title {
	font-size: 14px;
	margin: 0 10px;
}
.bluemage-text {
	font-size: 14px;
	color: #585858;
	margin: 0 10px;
	padding-bottom: 32px;
}
.bluemage-text a {
	color: #2556b8;
	font-weight: bold;
	font-size: inherit;
}
.bluemage-notes {
	font-size: inherit;
	color: #b2122d;
}
.bluemage-quest {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-box-align: center;
	box-align: center;
	align-items: center;
	margin: 0 10px;
	padding-bottom: 32px;
}
.bluemage-quest_title {
	background: rgba(128, 102, 51, 0.1);
	height: 28px;
	margin: 0 10px;
	padding-left: 44px;
	border-radius: 14px;
	position: relative;
}
.bluemage-quest_title a {
	position: relative;
	top: 3px;
	color: #2556b8;
	font-size: 16px;
	font-weight: bold;
}
.bluemage-quest_title::before {
	content: '';
	background: url(../img/main/quest.png);
	background-size: 40px 40px;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 0;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.bluemage-quest_map {
	width: 360px;
	margin-right: 16px;
}
.bluemage-quest_detail {
	width: 544px;
	background: rgba(255, 255, 255, 0.35);
	border-radius: 8px;
	padding: 8px 16px 0 8px;
	box-sizing: border-box;
}
.bluemage-quest_detail li {
	font-size: 14px;
	color: #585858;
	padding: 0 0 8px 24px;
}
.bluemage-quest_detail li.level {
	background: url(../img/main/lvl.png) no-repeat 0 0;
	background-size: 20px 20px;
}
.bluemage-quest_detail li.pos {
	background: url(../img/main/loc.png) no-repeat 0 0;
	background-size: 20px 20px;
}
.bluemage-quest_detail li.npc {
	background: url(../img/main/npc.png) no-repeat 0 0;
	background-size: 20px 20px;
}
.bluemage-quest_detail li.condition {
	background: url(../img/main/complite.png) no-repeat 0 0;
	background-size: 20px 20px;
}
.bluemage-quest_detail li a {
	color: #2556b8;
	font-weight: bold;
}
.bluemage-list {
	margin: 0 10px;
}
.bluemage-list li {
	background: url(../img/main/bluli.png) no-repeat 0 2px;
	background-size: 16px 16px;
	padding-bottom: 32px;
	padding-left: 20px;
	font-size: 14px;
}
.bluemage-list li li {
	background: url(../img/main/bluli2.png) no-repeat 0 2px;
	background-size: 16px 16px;
	padding-bottom: 0;
	padding-left: 20px;
	margin-top: 16px;
}
/* new */
.job_combo_dragoon_04 {
	display: grid;
	grid-template: 'start combo01 end combo01_effect' 'start . end combo01_effect' 62px 'start . end combo02_effect' 62px 'start combo02 end combo02_effect';
	min-height: 372px;
	border-bottom: 1px solid #999999;
}
.job_combo_dragoon_04 .job_combo_root_skill,
.job_combo_dragoon_04 .job_combo_root_skill_last {
	width: 120px;
}
.job_combo_dragoon_04 .job_combo_root_skill p,
.job_combo_dragoon_04 .job_combo_root_skill_last p {
	width: 120px;
}
.job_combo_dragoon_04_start {
	grid-area: start;
	display: grid;
	place-items: center;
}
.job_combo_dragoon_04_start .job_combo_root_skill {
	position: relative;
	padding-right: 24px;
}
.job_combo_dragoon_04_start .job_combo_root_skill::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: -4px;
	width: 48px;
	height: 100%;
	background: url(https://lds-img.finalfantasyxiv.com/promo/h/Y/x9lITB6Lzdc2iBZ10UydmE01rA.png) no-repeat 0 0;
}
.job_combo_dragoon_04_01 {
	grid-area: combo01;
	position: relative;
	background: url(https://lds-img.finalfantasyxiv.com/promo/h/m/Ei1k3bgW12qROXtBEugOEs4u1g.png) no-repeat 96px 0, url(https://lds-img.finalfantasyxiv.com/promo/h/m/Ei1k3bgW12qROXtBEugOEs4u1g.png) no-repeat 216px 0;
}
.job_combo_dragoon_04_01::before,
.job_combo_dragoon_04_01::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 48px;
	height: 100%;
}
.job_combo_dragoon_04_01::before {
	left: -24px;
	background: url(https://lds-img.finalfantasyxiv.com/promo/h/J/BRXsOnl-gJIxXi85_PWPB7uQMg.png) no-repeat 0 0;
}
.job_combo_dragoon_04_01::after {
	right: -24px;
	background: url(https://lds-img.finalfantasyxiv.com/promo/h/i/xGCf8qG2Ku_qL2g8VbYwBXouNY.png) no-repeat 0 0;
}
.job_combo_dragoon_04_01 .job_combo_root_skill {
	padding-right: 0;
}
.job_combo_dragoon_04_01_effect {
	grid-area: combo01_effect;
	display: flex;
	align-items: center;
}
.job_combo_dragoon_04_02 {
	grid-area: combo02;
	position: relative;
	background: url(https://lds-img.finalfantasyxiv.com/promo/h/m/Ei1k3bgW12qROXtBEugOEs4u1g.png) no-repeat 96px 0, url(https://lds-img.finalfantasyxiv.com/promo/h/m/Ei1k3bgW12qROXtBEugOEs4u1g.png) no-repeat 216px 0;
}
.job_combo_dragoon_04_02::before,
.job_combo_dragoon_04_02::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 48px;
	height: 100%;
}
.job_combo_dragoon_04_02::before {
	left: -24px;
	background: url(https://lds-img.finalfantasyxiv.com/promo/h/A/FZtlOE_IqaRciJpsbOeO3YbJSA.png) no-repeat 0 0;
}
.job_combo_dragoon_04_02::after {
	right: -24px;
	background: url(https://lds-img.finalfantasyxiv.com/promo/h/K/0ZO58SIVqabfX2BXUt49SQeD80.png) no-repeat 0 0;
}
.job_combo_dragoon_04_02 .job_combo_root_skill {
	padding-right: 0;
}
.job_combo_dragoon_04_02_effect {
	grid-area: combo02_effect;
	display: flex;
	align-items: center;
}
.job_combo_dragoon_04_end {
	grid-area: end;
	display: grid;
	place-items: center;
}
.job_combo_dragoon_04_end .job_combo_root_skill_last {
	position: relative;
	padding-left: 24px;
}
.job_combo_dragoon_04_end .job_combo_root_skill_last::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -4px;
	width: 48px;
	height: 100%;
	background: url(https://lds-img.finalfantasyxiv.com/promo/h/L/sJyips9fze37klbPBnrs2I6Z9I.png) no-repeat 0 0;
}
.job_hud_layout--border {
	height: 1px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding-bottom: 0;
	border-top: 1px solid #999999;
}
.job_combo_viper {
    border-bottom: 1px solid #999999
}

.job_combo_viper_inner_01 {
    background: url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 150px 0,url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 370px 0
}

.job_combo_viper_inner_02 {
    padding-top: 124px;
    background: url(https://lds-img.finalfantasyxiv.com/promo/h/s/aoZRBLUMOwVTevo9_UMU5wwxzA.png) no-repeat 150px 0,url(https://lds-img.finalfantasyxiv.com/promo/h/K/P4fbPR-FLa_4E80IYy6rRAI3bM.png) no-repeat 370px 0
}

.job_combo_viper_inner_03 {
    background: url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 150px 0,url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 370px 0
}

.job_combo_viper_inner_04 {
    padding-top: 124px;
    background: url(https://lds-img.finalfantasyxiv.com/promo/h/K/P4fbPR-FLa_4E80IYy6rRAI3bM.png) no-repeat 370px 0
}

.job_combo_viper_inner_05 {
    padding-top: 124px;
    background: url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 150px 124px,url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 370px 124px,url(https://lds-img.finalfantasyxiv.com/promo/h/L/ZGo9Hr9sUqV1kmKPTjGlS4-ACI.png) no-repeat 150px 0,url(https://lds-img.finalfantasyxiv.com/promo/h/L/ZGo9Hr9sUqV1kmKPTjGlS4-ACI.png) no-repeat 370px 0
}

.job_combo_viper_inner_06 {
    background: url(https://lds-img.finalfantasyxiv.com/promo/h/4/CPlw_vyjntBjdc44iMVcY5qwMQ.png) no-repeat 150px 0,url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 370px 0
}

.job_combo_viper_inner_07 {
    background: url(https://lds-img.finalfantasyxiv.com/promo/h/W/DsM5O0psoLoBIZTvp5M6b7HXlU.png) no-repeat 150px 0,url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 370px 0
}