/* Craft */
.job_craft .guide-title,
.job_craft .guide-about_title:after {
	background: var(--craft-color);
}
.job_craft .guide-thead p {
	background: var(--craft-AltColor);
}
.job_craft .guide-sub_title,
.job_craft .guide-about_title,
.job_craft .guide-about_lead {
	color: var(--craft-color);
}
.job_craft .nav_floating_icon:hover {
	background-color: var(--craft-AltColor);
}
.job_craft ~ .nome_app_top .app_top {
	background: var(--craft-color);
	box-shadow: 1px 1px 5px var(--craft-color);
}
.job_craft .guide-about_subtitle {
	background: linear-gradient(to right, var(--craft-color) 0%, rgba(78, 50, 143, 0) 100%);
}

/* Gathering */
.job_gathering .guide-title,
.job_gathering .guide-about_title:after {
	background: var(--gathering-color);
}
.job_gathering .guide-thead p {
	background: var(--gathering-AltColor);
}
.job_gathering .guide-sub_title,
.job_gathering .guide-about_title,
.job_gathering .guide-about_lead {
	color: var(--gathering-color);
}
.job_gathering .nav_floating_icon:hover {
	background-color: var(--gathering-AltColor);
}
.job_gathering ~ .nome_app_top .app_top {
	background: var(--gathering-color);
	box-shadow: 1px 1px 5px var(--gathering-color);
}
.job_gathering .guide-about_subtitle {
	background: linear-gradient(to right, #8f7832 0%, rgba(143, 120, 50, 0) 100%);
}

/*-----------------------------------------------*/
.crafting_gathering_guide .jobguide_catch {
	background: #23401a;
}
.crafting_gathering_guide .job_index {
	background: url(../img/DoHDoL/header.jpg) no-repeat center top #4e3928;
	background-attachment: fixed;
	height: 600px;
}
.crafting_gathering_guide .jobguide_header_inner {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.crafting_gathering_guide .jobguide_header_inner h1 {
	top: 390px;
	height: 144px;
}
.content {
	max-width: 1248px;
	margin: 0 auto;
	padding: 10px 0 0 15px;
}
.content_text {
	font-size: 16px;
	color: #585858;
	line-height: 1.5;
	margin-bottom: 64px;
}
.content_title {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: start;
	margin-bottom: 32px;
	padding: 4px;
	font-size: 24px;
	font-weight: 900;
	color: #ffffff;
}
.content_title.crafter {
	background: linear-gradient(to right, var(--craft-color) 0%, rgba(78, 50, 143, 0) 100%);
}
.content_title i {
	width: 40px;
	height: 40px;
	display: block;
	margin-right: 8px;
}
.content_title i img {
	width: 100%;
	height: auto;
}
.job_list_wrapper {
	display: flex;
	justify-content: center;
	max-width: 1282px;
	margin: 0 auto;
	padding: 0 6px 32px;
	box-sizing: border-box;
}
.job_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.job_list li {
	width: 300px;
	height: 450px;
	margin: 0 8px 32px;
	position: relative;
}
.job_list li a {
	display: block;
	position: relative;
	-moz-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	border-radius: 8px;
}
.job_list li a p {
	display: flex;
	align-items: center;
	justify-content: start;
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px;
	font-size: 18px;
	font-weight: 900;
}
.job_list.crafter li a p {
	color: var(--craft-color);
}
.job_list.gatherer li p {
	color: #8f7832;
}
.job_prew {
	width: 300px;
	height: 450px;
}
.job_list li p i {
	display: block;
	width: 48px;
	height: 48px;
	margin-right: 8px;
}
.job_list li p i img {
	width: 100%;
	height: 100%;
}
.job_list.crafter li a:hover {
	background: rgb(78 50 143 / 15%);
	box-shadow: 0px 0px 2px 0px rgba(78, 50, 143, 0.14) inset, 0px 0px 8px 0px rgba(78, 50, 143, 0.25), 0px 0px 32px 0px rgba(78, 50, 143, 0.25);
}
.job_list.gatherer li a:hover {
	background: rgb(143 120 50 / 15%);
	box-shadow: 0px 0px 2px 0px rgba(143, 120, 50, 0.14) inset, 0px 0px 8px 0px rgba(143, 120, 50, 0.25), 0px 0px 32px 0px rgba(143, 120, 50, 0.25);
}
.content_title.gatherer {
	background: linear-gradient(to right, #8f7832 0%, rgba(143, 120, 50, 0) 100%);
}

.tab_craft, .tab_gatherer {
	display: flex;
	justify-content: space-between;
	width: 920px;
	margin: 20px auto 32px;
}

.tab_craft li, .tab_gatherer li {
	position: relative;
	width: 450px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	font-weight: 900;
	background: #f0eddd;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25), 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset;
	-moz-transition: background-color 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), box-shadow 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	-o-transition: background-color 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), box-shadow 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	-webkit-transition: background-color 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), box-shadow 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: background-color 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), box-shadow 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.tab_craft li {
	color: var(--craft-color);
}
.tab_gatherer li {
	color: var(--gathering-color);
}
.tab_craft .js-tab-trigger.active,
.tab_gatherer .js-tab-trigger.active {
	background: #f5a300;
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	color: #ffffff;
	cursor: default;
}
/* Table */
.guide-thead th:nth-child(1) {
	padding-left: 0;
}
.guide-thead th {
	padding: 0 1px;
}
.guide-thead th:nth-child(2) {
	padding-left: 0;
}
.guide-thead p {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	border-radius: 4px;
	font-weight: normal;
	color: #ffffff;
	font-size: 12px;
	padding: 0 4px;
	box-sizing: border-box;
}
.guide-sub_title {
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px 16px;
}
.guide-table {
	width: 920px;
	margin: 0 auto 8px;
}
.guide-tbody td {
	padding: 6px 4px;
	border-bottom: 1px solid #999999;
	vertical-align: middle;
	text-align: left;
	font-size: 12px;
	color: #585858;
	line-height: 1.4;
}
.guide-tbody td.skill .skill_wrapper,
.guide-tbody td.skill .jobclass_wrapper,
.guide-tbody td.jobclass .skill_wrapper,
.guide-tbody td.jobclass .jobclass_wrapper {
	display: table;
	width: 100%;
	vertical-align: middle;
}
.guide-tbody td.skill .skill_wrapper_icon,
.guide-tbody td.skill .jobclass_wrapper_icon,
.guide-tbody td.jobclass .skill_wrapper_icon,
.guide-tbody td.jobclass .jobclass_wrapper_icon {
	display: table-cell;
	vertical-align: middle;
	width: 48px;
}
.guide-skill_icon {
	position: relative;
	width: 48px;
	height: 48px;
	display: inline-block;
	background: url(../img/main/skil_icon.png) no-repeat 4px 2px;
	-moz-background-size: 40px 40px;
	-o-background-size: 40px 40px;
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	vertical-align: middle;
}
.guide-skill_icon img {
	position: absolute;
	top: 2px !important;
	left: 50% !important;
	margin-left: -20px;
	display: block;
	z-index: 1;
}
.guide-tbody td img {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
}
.guide-skill_icon:after {
	content: '';
	background: url(../img/main/skil_icon_on.png) no-repeat;
	width: 48px;
	height: 48px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.guide-tbody td.skill .skill_wrapper p,
.guide-tbody td.skill .jobclass_wrapper p,
.guide-tbody td.jobclass .skill_wrapper p,
.guide-tbody td.jobclass .jobclass_wrapper p {
	display: table-cell;
	vertical-align: middle;
	padding-left: 2px;
}
.guide-tbody td.skill .jobclass_wrapper_icon,
.guide-tbody td.jobclass .jobclass_wrapper_icon {
	width: 32px;
}
.jobclass_wrapper .jobclass_wrapper_icon img {
	width: 32px;
	height: 32px;
}
.guide-tbody td.classification,
.guide-tbody td.cast,
.guide-tbody td.recast,
.guide-tbody td.cost {
	text-align: center;
}
.guide-tbody td .class_quest {
	color: #b36b24;
	font-weight: bold;
	font-size: 12px;
}
.guide-title {
	display: flex;
	align-items: center;
	justify-content: start;
	font-size: 16px;
	font-weight: 900;
	color: #ffffff;
	border-radius: 6px;
	height: 32px;
	padding: 0 10px;
	margin-bottom: 16px;
}

/* Guide */
.guide-about {
	padding: 0 10px;
}
.guide-about_title {
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 32px;
	padding-bottom: 10px;
	line-height: 1;
	position: relative;
}
.guide-about_title::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.guide-about_map {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 10px;
	margin-bottom: 64px;
}
.guide-about_map img {
	display: block;
	width: 400px;
	height: 400px;
}
.guide-about_map_text {
	width: 480px;
}
.guide-about_map p {
	font-size: 14px;
	color: #585858;
	line-height: 1.5;
	margin-bottom: 1em;
}
.guide-about_map p.notes {
	color: #b2122d;
}
.guide-about_inner {
	margin: 0 auto;
	padding: 0 0 32px;
}
.guide-about_text {
	width: 900px;
	font-size: 14px;
	color: #585858;
	line-height: 1.5;
	margin: 0 auto 32px;
}
.guide-about_lead {
	max-width: 900px;
	margin: 0 auto 16px;
	font-size: 16px;
	font-weight: bold;
}
.guide-about_box {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 32px;
	width: 900px;
	margin: 0 auto 32px;
}
.guide-about_box_image {
	display: block;
	width: 400px;
}
.guide-about_box_image img {
	border-radius: 8px;
}
.guide-about_box_text {
	width: 480px;
}
.guide-about_box p {
	font-size: 14px;
	color: #585858;
	line-height: 1.5;
	margin-bottom: 1em;
}
.guide-about_box p a {
	font-weight: bold;
	color: #2556b8;
	-moz-transition: text-decoration 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: text-decoration 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: text-decoration 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: text-decoration 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	text-decoration: none;
}
.guide-about_subtitle {
	display: flex;
	align-items: center;
	height: 32px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 900;
	color: #ffffff;
	margin-bottom: 32px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.guide-about_image {
	max-width: 900px;
	margin: 0 auto 64px;
}
.guide-about_image img {
	width: 900px;
	display: block;
	margin: 0 auto 32px;
	border-radius: 8px;
}
.guide-about_box_image img + img {
	margin-top: 16px;
}
.guide-tbody td p {
	display: inline-block;
	vertical-align: middle;
}
.guide-notes {
	margin: 0 10px;
	font-size: 12px;
	color: #b2122d;
}
.guide-about_column {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 16px;
}
.guide-about_column li {
	width: 400px;
	margin: 0 20px;
}
.guide-about_column li img {
	display: block;
	margin-bottom: 16px;
	border-radius: 8px;
}
.guide-table_wrapper {
	margin-bottom: 64px;
}