body#gs{
   font-family: var(--font);
   line-height: 1.5;
}
.gs_header{
   height: 440px;
   margin-bottom: 16px;
   background: url(../img/GoldSaucer/header.jpg) no-repeat top center #1b0f27;
   position: relative;
}
.gs_header_img {
   position: relative;
   width: 960px;
   height: 360px;
   margin: 0 auto;
}
.gs_header_img img {
   position: absolute;
}
.gs_logo {
   bottom: 60px;
}
.gs_header_text {
   padding: 10px;
   background: #2e230e;
}
.gs_header_text p {
   width: 960px;
   margin: 0 auto;
   text-align: center;
   font-size: 13px;
   color: #ccaa66;
}
.gs_header_img .link_list {
   font-size: 12px;
}
/* Content */
.gs_content {
   width: 800px;
   height: 1%;
   margin: 0 auto;
   padding-bottom: 120px;
   position: relative;
   font-size: 14px;
}
.gs_title {
   font-family: var(--font);
   position: relative;
   padding: 10px 0 15px 60px;
   border-radius: 28px;
   font-size: 25px;
   font-weight: bold;
   color: #663d29;
}
.gs_title img {
   position: absolute;
   left: 0;
   top: 0;
   width: 60px;
   height: 60px;
}
.gs_quest{
   position: relative;
   padding: 4px 10px 4px 44px;
   margin: 4px 0 12px;
   background: rgba(89, 81, 76, 0.1);
   border-radius: 28px;
}
.gs_quest a{
   font-family: var(--font);
   font-size: 16px;
   font-weight: bold;
   color: #2c21a6;
}
.gs_quest__info li a {
   color: #2c21a6;
   font-weight: normal;
}
.gs_quest a:hover {color: #5749f2;}
.gs_quest:after {
   content: '';
   position: absolute;
   top: -4px;
   left: 0;
   width: 40px;
   height: 40px;
   background: url(../img/main/quest.png) no-repeat 0 0;
   background-size: 40px 40px;
}
.gs_quest_info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   margin-bottom: 10px;
}
.gs_quest_info img {
   width: 320px;
   margin-right: 8px;
}
.gs_quest__info {
   -webkit-flex: 1;
   flex: 1;
   padding: 8px 8px 12px;
   background: rgba(89, 81, 76, 0.05);
   border-radius: 8px;
}
.gs_quest__info li {
   font-family: var(--font);
   position: relative;
   padding-left: 24px;
   margin-bottom: 7px;
   font-size: 15px;
   list-style: none;
   color: #585858;
}
.gs_quest__info li:after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
}
.gs_quest__info li.level:after {
   background: url(../img/main/lvl.png) no-repeat 0 0;
   background-size: 20px 20px;
}
.gs_quest__info li.place:after {
   background: url(../img/main/loc.png) no-repeat 0 0;
   background-size: 20px 20px;
}
.gs_quest__info li.npc:after {
   background: url(../img/main/npc.png) no-repeat 0 0;
   background-size: 20px 20px;
}
.gs_quest__info li.terms:after {
   background: url(../img/main/complite.png) no-repeat 0 0;
   background-size: 20px 20px;
}
.gs_text_red {color: #a62137;}
/* p + p {margin: 10px;} */
.gs_supplement {
   padding: 16px;
   background-color: #f2f2f2;
   border-radius: 8px;
   margin-bottom: 16px;
}
.gs_attractions {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 24px;
}
.gs_attractions_info {
   display: flex;
   flex-direction: column;
   width: 245px;
   background-color: rgb(0 0 0 / 50%);
   box-shadow: 0px 0px 5px 1px #333333;
   border-radius: 10px;
   margin: 10px;
}
.gs_attractions_info span {
   color: white;
   padding: 5px;
   text-align: center;
}
.gs_description {
   margin-left: 60px;
}
/* Shop item */
.gs_shop_item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 20px;
}
.gs_shop_list {
   width: 390px;
   height: 160px;
   border-radius: 8px;
   margin-bottom: 16px;
   
}
.gs_shop_list h3 {
   
   padding: 4px;
   text-align: center;
   font-size: 16px;
   color: #ffffff;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}
.gs_shop_list ul {
   width: 100%;
   min-height: 128px;
   padding: 12px 16px;
   box-sizing: border-box;
}
.gs_shop_list ul li {
   font-size: 14px;
   font-weight: bold;
}
.gs_shop_list ul li a {color: #4c7ee8;}
.gs_EntranceS {background: url("../img/GoldSaucer/entrance_square.png") no-repeat right bottom #e1edfa;}
.gs_CardS {background: url("../img/GoldSaucer/card_square.png") no-repeat right bottom #e1edfa;}
.gs_ChocoboS {background: url("../img/GoldSaucer/chocobo_square.png") no-repeat right bottom #faefe1;}
.gs_MinionS {background: url("../img/GoldSaucer/minion_square.png") no-repeat right bottom #e5e1fa;}
.gs_WonderS {background: url("../img/GoldSaucer/wonder_square.png") no-repeat right bottom #faf5e1;}
.gs_shop_01 h3 {background-color: #91c2f2;}
.gs_shop_01 {box-shadow: 0px 0px 0px 2px #91c2f2 inset;}
.gs_shop_02 h3 {background-color: #e6b673;}
.gs_shop_02 {box-shadow: 0px 0px 0px 2px #e6b673 inset;}
.gs_shop_03 h3 {background-color: #b6aaf2;}
.gs_shop_03 {box-shadow: 0px 0px 0px 2px #b6aaf2 inset;}
.gs_shop_04 h3 {background-color: #e0c55a;}
.gs_shop_04 {box-shadow: 0px 0px 0px 2px #e0c55a inset;}
/* Page */
.gs_page {
   background: url("../img/GoldSaucer/bg.jpg") no-repeat center top #eceee7;
   background-attachment: fixed;
}
.gs_menu_page {
   top: 0;
   width: 100%;
   position: fixed;
   z-index: 50;
   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}
.gs_menu_page_pos {
   width: 100%;
   height: 48px;
   text-align: center;
   background: #eaebe6;
   position: relative;
}
.gs_menu_page_inner {
   width: max-content;
   height: 48px;
   margin: 0 auto;
}
.btn_gs_menu {
   display: inline-block;
   padding: 0 10px 0 10px;
   line-height: 48px;
   cursor: pointer;
   position: relative;
   z-index: 10;
   font-size: 13px;
   font-weight: 700;
   background: #eaebe6;
   font-family: 'Noto Sans', sans-serif;
   color: #4769b3;
   transition: all 0.5s;
}
.btn_gs_menu:hover {color: #5990ff;}
.btn_svg {
   height: 48px;
   float: left;
}
.btn_gs_menu svg {
   width: 35px;
   height: 100%;
}
/* Page Content */
.gs_content_wrapper {
   top: 80px;
   width: 960px;
   margin: 0 auto;
   padding-bottom: 120px;
   height: 1%;
   font-size: 14px;
   position: relative;
}
.gs_title_box {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   width: 640px;
   margin: 0 auto;
}
.gs_title_box img {
   width: 340px;
   margin-right: 16px;
}
.gs_title_box_menu {
   width: 284px;
   height: 160px;
}
.gs_title_box_menu_list li {
   background: #59514c0d;
   border-radius: 2px;
   margin-bottom: 2px;
}
.gs_title_box_menu_list li a {
   display: block;
   padding: 2px 10px;
   color: #4c7ee8;
   font-weight: bold;
}
.gs_title_box_menu_list li a:hover{color: #6696ff;}
.gs_title_box_menu h2 {
   position: relative;
   color: #59514c;
   text-transform: uppercase;
   padding: 2px 10px;
   bottom: 0;
   height: 25px;
   pointer-events: none;
}
.gs_title_box_menu h2:after {
   content: " ";
   display: block;
   position: relative;
   width: 284px;
   height: 10px;
   left: -10px;
   bottom: 10px;
   background: #59514c0d;
   border-radius: 2px;
}
.gs_wrapper {
   width: 640px;
   margin: 0 auto;
}
.gs_wrapper p {
   position: relative;
   margin: 15px -98px 55px;
   padding: 0 98px;
   font-size: 14px;
   color: #585858;
   height: 1%;
   margin-bottom: 16px;
   font-family: 'Noto Sans';
}
.gs_p--40{margin-bottom: 40px !important;}
.gs_p--32{margin-bottom: 32px !important;}
.gs_h2--40{margin: 0 0 8px -40px;}
.gs_wrapper_h3 {
   position: relative;
   padding-left: 20px;
   margin-bottom: 14px;
   font-size: 18px;
   color: #585858;
   font-weight: bold;
}
.gs_wrapper_h3:after {
   content: '';
   position: absolute;
   top: 4px;
   left: 0;
   width: 14px;
   height: 14px;
   border-radius: 14px;
   background-color: #d99857;
}
.gs_wrapper_h4 {
   position: relative;
   margin-bottom: 16px;
   font-size: 14px;
   font-weight: bold;
   color: #585858;
   font-family: var(--font);
}
.gs_base_img {margin-bottom: 10px;}