@import url(default.min.css);
@import url(JobGuide.css);
@import url(JobPage.css);
@import url(JobHeader.css);
@import url(DoHDoL.css);
@import url(GoldSaucer.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap&subset=japanese);

:root {
	--tank-color: #2d3a80;
	--healer-color: #346624;
	--dps-color: #732828;
	--craft-color: #4e328f;
	--gathering-color: #8f7832;
	/* Alt Color */
	--tank-AltColor: #545e99;
	--healer-AltColor: #548046;
	--dps-AltColor: #8c4d4d;
	--craft-AltColor: #695499;
	--gathering-AltColor: #998854;
	--font: sans-serif;
	--color-set-1: #191919;
	--color-set-2: #000;
	--color-set-3: #ecede7;
	--color-error: #a62137;
	--block-width: 472px;
	--main-header-img: url('../img/JobIndex/header_DT.png') no-repeat top center, linear-gradient(90deg, #84b9ba 0%, #dbd6a5 100%);
}
body {
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: var(--color-set-3);
}
.app_index {
	background-color: var(--color-set-1);
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
}
.info_pop {
	background: #fffceb;
	border-radius: 6px;
	margin: 10px 0;
	padding: 6px;
	font-size: 13px;
	font-weight: bold;
	color: #b36b24;
	text-align: center;
}
.latest_update {
	background: var(--color-set-1);
	box-shadow: 0px 0px 5px var(--color-set-2);
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	color: white;
}
/* Webkit */
.job_header_text p::-webkit-scrollbar {
	height: 9px;
	width: 9px;
	background-color: transparent;
	border: 4px solid transparent;
}
.job_header_text p::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: padding-box;
	background-color: #ffffff;
}

.nav_floating_list_wrapper::-webkit-scrollbar {
	width: 6px;
	height: 10px;
	background-color: transparent;
	border: transparent;
}
.nav_floating_list_wrapper::-webkit-scrollbar-thumb {
	border: 2px solid transparent;
	background-clip: padding-box;
	background-color: var(--color-set-1);
}

.clearfix:after {
	content: '.';
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

.clearfix:after {
	content: '.';
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

footer {
	background: #484c4e;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	height: 1%;
	position: relative;
	z-index: 10;
	bottom: 0;
}

.footer_inner {
	background-color: var(--color-set-1);
	width: 100%;
	margin: 0 auto;
	padding: 16px 0 16px 0;
	color: #cccccc;
}
.SE {
	font-family: 'Noto Sans';
}
.SE p {
	font-size: 13px;
	color: #fff;
	padding-left: 16px;
	line-height: 1.6;
	text-align: center;
}
.SE a {
	color: #fffed1;
}
.footer_info {
	margin-bottom: 10px;
	text-align: center;
}
.footer_git {
	background: #333333;
	display: inline-block;
	height: 30px;
	border-radius: 4px;
	padding: 0 10px 0 10px;
	font-size: 15px;
	color: #cccccc;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
	vertical-align: bottom;
	font-weight: bold;
}
.footer_git:hover {
	background: #54585a;
}
.footer_git img {
	width: 25px;
	height: 30px;
	border: 0;
	vertical-align: bottom;
}

/* Back Top */
.app {
	width: 100%;
}
.nome_app_top {
	display: none;
	bottom: 20px;
	right: 20px;
	position: fixed;
	z-index: 99;
}
.app_top {
	display: block;
	width: 30px;
	cursor: pointer;
	background-color: #333333;
	box-shadow: 1px 1px 5px #333333;
	padding: 10px;
	border-radius: 50%;
	transition: all 0.4s;
}

.job_tank ~ .nome_app_top .app_top {
	background: var(--tank-color);
	box-shadow: 1px 1px 5px var(--tank-color);
}
.job_healer ~ .nome_app_top .app_top {
	background: var(--healer-color);
	box-shadow: 1px 1px 5px var(--healer-color);
}
.job_dps ~ .nome_app_top .app_top {
	background: var(--dps-color);
	box-shadow: 1px 1px 5px var(--dps-color);
}
.btn_nome {
	background: #4c7ee8;
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
	display: block;
	width: 640px;
	height: 50px;
	margin: 0 auto 20px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #f3f3f3;
	font-weight: bold;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_nome:hover {
	background: #628eeb;
}
/* Preloader */
.preloader {
	background-color: #1b1b1b;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
	opacity: 1;
	transition: 1.5s all;
	opacity: 1;
	visibility: visible;
}
.loader {
	width: 100px;
	height: 100px;
	border: 5px solid transparent;
	border-top-color: var(--color-set-3);
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: 1.5s spin infinite linear;
}
.done {
	opacity: 0;
	visibility: hidden;
}
.preloader:before {
	content: 'Загрузка...';
	display: block;
	color: #fff;
	position: absolute;
	font-weight: bold;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: 3s flash infinite linear;
}
@keyframes flash {
	from,
	50%,
	to {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
/* Webkit */
::-webkit-scrollbar {
	width: 15px;
	height: 10px;
	background-color: #1b1b1b;
	border: 4px solid #1b1b1b;
}
::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: padding-box;
	background-color: #ffffff;
	border-radius: 15px;
}

/* Main Imdex */
.main_app {
	background: var(--color-set-3);
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
}
.main_header {
	background: var(--main-header-img);
	height: 500px;
}
.main_header_text p {
	font-size: 14px;
	color: #f5f5f5;
	text-shadow: 0px 1px 4px var(--color-set-2);
	margin: 0 !important;
	position: relative;
	display: block;
	text-align: center;
}
.main_header_text a {
	color: #fffed1;
}
.main_header_text a:hover,
#main_news div a:hover {
	color: white;
}
.main_header .job_header_text {
	top: 260px;
}
.main_header .job_header_quest {
	position: absolute;
	bottom: 25px;
}
.main_header_inner {
	width: 960px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}
.main_header_alignment {
	display: flex;
	width: 500px;
	height: 500px;
	flex-direction: column;
}
.main_header_img {
	position: relative;
	height: 190px;
}
.main_header_img img {
	bottom: 35px;
	position: relative;
	width: 100%;
	filter: drop-shadow(0 0 0 black);
}
.main_header_text {
	background: #191919b3;
	backdrop-filter: blur(5px);
	box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	width: 100%;
	padding: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
/* Support button */
.main_header .job_db span img,
.job_main .job_db span img,
.crafting_gathering_guide .job_db span img {
	background-color: #333333;
	border-radius: 50%;
	padding: 3px;
	margin: -20px 0 0 -5px;
}
.link_list {
	position: absolute;
	display: flex;
	bottom: 10px;
	align-items: center;
}
.btn_link {
	display: inline-block;
}
.btn_link img {
	position: relative;
	width: 35px;
	height: 35px;
	left: 10px;
	background: var(--color-set-1);
	box-shadow: 0px 0px 5px var(--color-set-2);
	padding: 5px;
	border-radius: 50%;
	z-index: 2;
	transition: all 0.5s;
}
.btn_link span {
	position: relative;
	background: var(--color-set-1);
	box-shadow: 0px 0px 5px var(--color-set-2);
	color: white;
	padding: 5px 10px 5px 25px;
	border-radius: 0 10px 10px 0;
	line-height: 45px;
	right: 10px;
	transition: all 0.5s;
}
.btn_link:hover img,
.btn_link:hover span {
	background: #292929;
}
/*--------------------*/
.main_content {
	width: auto;
	padding: 0 0 16px;
	margin: 0 auto;
}
.app_page {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
.app_page a {
	padding: 10px;
	transition: all 0.4s;
}
.app_page a:hover {
	filter: drop-shadow(0px 0px 6px black);
}
.app_page a img {
	width: 100%;
	border-radius: 10px;
}
.main_content h1 {
	text-align: center;
	color: var(--color-set-1);
}
.main_header ~ .jobguide_catch {
	background: var(--color-set-1);
}
.main_header .job_header_text a {
	color: #fffed1;
}

/* Menu */

.jobguide_menu {
	width: 100%;
	height: 48px;
	text-align: center;
	background: #eaebe6;
	position: relative;
}
.jobguide_menu_wrapper {
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 50;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}
.jobguide_menu_wrapper ~ .job_header {
	padding-top: 48px;
}
.jobguide_menu_list {
	width: max-content;
	height: 48px;
	margin: 0 auto;
}
.jobguide_menu_list > li {
	float: left;
	width: auto;
	height: 48px;
	position: relative;
	z-index: 5;
}
.jobguide_menu_list > li > span {
	display: block;
	width: 160px;
	line-height: 48px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	z-index: 10;
	font-size: 13px;
	font-weight: 700;
	background: #eaebe6;
}
.jobguide_sub_menu {
	width: 156px;
	margin: 0 auto;
	position: absolute;
	background: #f4f5f2;
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
	left: 2px;
	z-index: 1;
	padding: 8px 0 5px;
	transition: all 0.4s;
}
.jobguide_sub_menu li {
	width: 156px;
}
.jobguide_sub_menu li a p {
	display: block;
	padding: 5px 9px;
	font-size: 12px;
	font-weight: 700;
	text-align: left;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}
li.jobguide_menu_list > ul.jobguide_sub_menu {
	opacity: 0;
	visibility: hidden;
	top: -150px;
}
li.jobguide_menu_list:hover > ul.jobguide_sub_menu {
	opacity: 1;
	visibility: visible;
	top: 48px;
}
/* Tank */
.job_tank .jobguide_menu_list > li > span,
.job_tank .jobguide_sub_menu li a p:hover {
	color: var(--tank-color);
}
.job_tank .jobguide_sub_menu li a p {
	color: var(--tank-AltColor);
}
/* Healer */
.job_healer .jobguide_menu_list > li > span,
.job_healer .jobguide_sub_menu li a p:hover {
	color: var(--healer-color);
}
.job_healer .jobguide_sub_menu li a p {
	color: var(--healer-AltColor);
}
/* DPS */
.job_dps .jobguide_menu_list > li > span,
.job_dps .jobguide_sub_menu li a p:hover {
	color: var(--dps-color);
}
.job_dps .jobguide_sub_menu li a p {
	color: var(--dps-AltColor);
}
/* Crafting */
.job_craft .jobguide_menu_list > li > span,
.job_craft .jobguide_sub_menu li a p:hover {
	color: var(--craft-color);
}
.job_craft .jobguide_sub_menu li a p {
	color: var(--craft-AltColor);
}
/* Gathering */
.job_gathering .jobguide_menu_list > li > span,
.job_gathering .jobguide_sub_menu li a p:hover {
	color: var(--gathering-color);
}
.job_gathering .jobguide_sub_menu li a p {
	color: var(--gathering-AltColor);
}
.job_name_menu:hover {
	background: #e5e3d3;
}
/* BLU */
.blumage_content {
	padding: 16px 5px 5px;
}
.blumage_content .job_content_wrapper .job_table {
	width: 950px;
}
.blumage_content .job_title,
.blumage_content .job_notes_lv80,
.blumage_content .job_update {
	margin-left: 5px;
	margin-right: 5px;
}
.content .eorzeadb_link {
	color: var(--tank-color);
	font-size: 12px;
}
.text_pop {
	margin-bottom: 0;
}

/* Error */

.text_error {
	color: red;
	font-weight: bold;
}

.warning_info {
	background: #fe3636;
	margin: 10px 0;
	padding: 6px;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}

.error_info {
	background-color: #ecede7;
	padding: 16px;
	margin: 10px 0 10px 0;
	border-radius: 10px;
	border: 1px solid var(--color-error);
	box-shadow: 0px 0px 5px 0px var(--color-error);
}
.error_info h5 {
	margin-bottom: 16px;
	color: var(--color-error);
	font-size: 14px;
	font-weight: bold;
}
.error_info p {
	color: var(--color-error);
	font-weight: bold;
	font-size: 13px;
}
.main_header .error_info p {
	text-shadow: 0px 1px 4px #0000004d;
}
/* News */
.news {
	padding: 0 16px 6px 16px;
	background: var(--color-set-1);
}
.news span {
	color: white;
	font-size: 20px;
}
#main_news {
	display: flex;
	border-left: 1px solid rgb(255 255 255 / 50%);
	padding: 5px;
	flex-direction: column;
}
#main_news div {
	display: flex;
	width: 100%;
}
#main_news div span {
	color: #ffffff;
	font-size: 13px;
	margin-right: 5px;
}
#main_news div a {
	color: #fffed1;
	font-size: 12px;
}
/* Media */
@media (max-height: 700px) {
	.nav_floating_list_wrapper {
		max-height: 490px;
	}
}
@media (max-width: 425px), (max-width: 430px){
	.app_page {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.main_header_inner {
		width: 100%;
	}
	.main_header_alignment {
		margin: 0 auto;
	}
	.btn_link span {
		display: none;
	}
	.link_list {
		margin: 0 auto;
		left: 0;
		right: 0;
		justify-content: center;
	}
	.main_header .warn_info {
		width: 500px;
		position: absolute;
		bottom: 55px;
		margin: 0 auto;
		right: 0;
		left: 0;
	}
	.main_header_alignment{
		width: 100%;
	}
	.main_header_text {
		border-radius: 0;
		bottom: 30px;
		z-index: 10;
	}
	.main_header_img {
		top: 10px;
	}
	#inner_update {
		width: 165px;
		text-align: center;
	}
	.btn_link img{
		left: 0;
	}
	.btn_link {
		margin: 0 10px 0 0;
  	}
}
@media (min-width: 992px) {
	.warning_info {
		display: none;
	}
}
@media (max-width: 768px) {
	.warning_info {
		display: block;
	}
	.main_header_inner {
		width: 100%;
	}
	.btn_link span {
		display: none;
	}
	.link_list {
		margin: 0 auto;
		left: 0;
		right: 0;
		justify-content: center;
	}
	.main_header_alignment {
		margin: 0 auto;
	}
	.btn_link img{
		left: 0;
	}
	.btn_link {
		margin: 0 10px 0 0;
  	}
}
