@import url(default.min.css);
@import url(JobGuide.css);
@import url(JobPage.css);
@import url(JobHeader.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap&subset=japanese);

:root {
	--tank-color: #2d3a80;
	--healer-color: #346624;
	--dps-color: #732828;
	/* Alt Color */
	--tank-AltColor: #545e99;
	--healer-AltColor: #548046;
	--dps-AltColor: #8c4d4d;
}

body {
	overflow: hidden;
	background: #1b1b1b;
}

.info_pop {
	background: #fffceb;
	border-radius: 6px;
	margin: 10px 0;
	padding: 6px;
	font-size: 14px;
	font-weight: bold;
	color: #b36b24;
	text-align: center;
}

/* Webkit */
.job_header_text p::-webkit-scrollbar {
	height: 9px;
	width: 9px;
	background-color: transparent;
	border: 4px solid transparent;
}
.job_header_text p::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: padding-box;
	background-color: #ffffff;
}

.clearfix:after {
	content: '.';
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
}

.clearfix:after {
	content: '.';
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

footer {
	background: #484c4e;
	min-width: 960px;
	margin: 0 auto;
	padding: 0;
	height: 1%;
	position: relative;
	z-index: 10;
}

.footer_inner {
	width: 960px;
	margin: 0 auto;
	padding: 16px 0 16px 0;
	color: #cccccc;
}

.SE p {
	font-size: 10px;
	color: #999;
	padding-left: 16px;
	line-height: 1.6;
	text-align: center;
}
.footer_info {
	margin-bottom: 10px;
	text-align: center;
}
.footer_git {
	background: #3f4345;
	display: inline-block;
	height: 30px;
	border-radius: 4px;
	padding: 0 10px 0 10px;
	font-size: 15px;
	color: #cccccc;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
	vertical-align: bottom;
	font-weight: bold;
}
.footer_git:hover {
	background: #54585a;
}
.footer_git img {
	width: 25px;
	height: 30px;
	border: 0;
	vertical-align: bottom;
}

/* Back Top */
.app {
	width: 100%;
}
.nome_app_top {
	display: none;
	bottom: 20px;
	right: 20px;
	position: fixed;
}
.app_top {
	display: block;
	width: 30px;
	cursor: pointer;
	background-color: #333333;
	box-shadow: 1px 1px 5px #333333;
	padding: 10px;
	border-radius: 50%;
	transition: all 0.4s;
}

.job_tank ~ .nome_app_top .app_top {
	background: var(--tank-color);
	box-shadow: 1px 1px 5px var(--tank-color);
}
.job_healer ~ .nome_app_top .app_top {
	background: var(--healer-color);
	box-shadow: 1px 1px 5px var(--healer-color);
}
.job_dps ~ .nome_app_top .app_top {
	background: var(--dps-color);
	box-shadow: 1px 1px 5px var(--dps-color);
}
.btn_nome {
	background: #4c7ee8;
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
	display: block;
	width: 640px;
	height: 50px;
	margin: 0 auto 20px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #f3f3f3;
	font-weight: bold;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_nome:hover {
	background: #628eeb;
}
/* Preloader */
.preloader {
	background-color: #1b1b1b;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
	opacity: 1;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
}
.loader {
	width: 100px;
	height: 100px;
	border: 5px solid #1b1b1b;
	border-top-color: var(--dps-AltColor);
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: 1.5s spin infinite linear;
}
.done {
	opacity: 0;
	visibility: hidden;
}
.loader_none {
	display: none;
}
@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
.preloader:before {
	content: 'Загрузка...';
	display: block;
	color: #fff;
	position: absolute;
	font-weight: bold;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: 3s flash infinite linear;
}
/* Webkit */
::-webkit-scrollbar {
	width: 15px;
	height: 10px;
	background-color: #1b1b1b;
	border: 4px solid #1b1b1b;
}
::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: padding-box;
	background-color: #ffffff;
	border-radius: 15px;
}

/* Main Imdex */

.app_body {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.app_body:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #18181a;
	opacity: .5;
}
.app_body img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.app_header {
	width: 450px;
	height: 100%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	backdrop-filter: blur(5px);
	background-color: rgb(88 88 88 / 30%);
	border-left: 2px solid #ffffff99;
	border-right: 2px solid #ffffff99;
	box-shadow: 0px 0px 10px 2px #ffffff99;
	z-index: 2;
}
.app_image {
	width: 250px;
	margin: 20px auto;
}
.app_image img {
	width: 100%;
}
.app_text {
	text-align: center;
	color: white;
	font-weight: bold;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 18px;
	margin: 20px;
}
.app_btn {
	width: 400px;
	margin: 0 auto;
}
.app_guide {
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: block;
}
.app_guide img {
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	transition: all 0.4s;
	box-shadow: 0px 0px 4px 0px #000000;
}
.app_guide img:hover {
	filter: grayscale(1);
}
.Copyright {
	text-align: center;
	width: 100%;
	bottom: 20px;
	position: absolute;
	margin: 0 auto;
}
.Copyright .SE p {
	color: white;
	padding: 0;
}
.Copyright .footer_git {
	margin: 10px;
	transition: all 0.4s;
}
