.jobguide_name {
	line-height: 30px;
	width: 200px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 18px;
	z-index: 50;
}
.jobguide_tank {
	margin-right: 20px;
	background: url(../img/DoWDoM//Tank.jpg) bottom right no-repeat #f3f3f3;
}

.jobguide_healer {
	background: url(../img/DoWDoM//Healer.jpg) bottom right no-repeat #f3f3f3;
}

.jobguide_dps {
	background-color: #f3f3f3;
}

.jobguide__dps {
	background: url(../img/DoWDoM//DPS.jpg) 72px bottom no-repeat #f3f3f3;
	margin-bottom: 32px;
}

p {
	color: #585858;
}

.jobguide {
	width: 100%;
	display: table;
	background: var(--color-set-3);
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
}

.jobguide_header {
	height: 360px;
	display: block;
}

.job_index {
	background: url(../img/DoWDoM//header.jpg) no-repeat top center #222;
	background-attachment: fixed;
}

.jobguide_header_inner {
	width: 960px;
	height: 360px;
	margin: 0 auto;
	position: relative;
}

.jobguide_header_inner h1 {
	position: absolute;
	top: 50px;
	left: 0;
	width: 960px;
	height: 244px;
}

.jobguide_catch {
	background: #800000;
	padding: 3px 0;
}

.jobguide_catch p {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}

/* Content */

.jobguide_content {
	width: 800px;
	padding: 16px 0 16px;
	margin: 0 auto;
}

.jobguide_text {
	margin-bottom: 32px;
	font-size: 14px;
}

.jobguide_flex {
	margin-bottom: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.jobguide_tank,
.jobguide_healer {
	width: 390px;
	overflow: hidden;
}

.jobguide_dps {
	width: 390px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-right: 20px;
}

.jobguide_dps:nth-last-child(1) {
	margin-right: 0;
}

.jobguide__dps {
	width: 800px;
	float: none;
	overflow: hidden;
}

.jobguide_tank h2,
.jobguide_healer h2,
.jobguide__dps h2 {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	position: relative;
	padding: 2px;
	font-size: 16px;
	color: #ffffff;
	font-weight: 900;
	line-height: 32px;
}

.jobguide_dps h3 {
	margin-left: 16px;
	border-bottom: 1px solid #cccccc;
	font-size: 16px;
	font-weight: 900;
	color: #585858;
	padding-bottom: 4px;
	line-height: 32px;
	padding-top: 16px;
}
.jobguide_tank h2 {
	background: var(--tank-color);
}
.jobguide_healer h2 {
	background: var(--healer-color);
}
.jobguide__dps h2 {
	background: var(--dps-color);
}

.jobguide_tank h2 img,
.jobguide_healer h2 img,
.jobguide__dps h2 img {
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin-right: 2px;
}

.jobguide_tank p,
.jobguide_healer p,
.jobguide_dps p {
	padding: 5px 16px 20px;
	font-size: 14px;
}

ul,
li {
	list-style: none;
}

.jobguide_tank_list ul li a,
.jobguide_healer_list ul li a,
.jobguide_dps_list ul li a {
	display: block;
	padding: 4px 16px;
	line-height: 48px;
	font-size: 14px;
	font-weight: 900;
	background: rgba(153, 170, 255, 0);
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}
.jobguide_tank_list,
.jobguide_healer_list,
.jobguide_dps_list {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow: hidden;
	padding-bottom: 12px;
}
.jobguide_tank_list ul li a {
	color: var(--tank-color);
}
.jobguide_healer_list ul li a {
	color: var(--healer-color);
}
.jobguide_dps_list ul li a {
	color: var(--dps-color);
}

.jobguide_tank_list ul li a img,
.jobguide_healer_list ul li a img,
.jobguide_dps_list ul li a img {
	margin-right: 8px;
}

.job_img {
	width: 48px;
	height: 48px;
	border: 0;
	vertical-align: bottom;
}
.jobguide_tank_list p,
.jobguide_healer_list p,
.jobguide_dps_list p {
	height: 97px;
}
.jobguide_tank_list ul li a:hover {
	background: rgba(153, 170, 255, 0.2);
}
.jobguide_healer_list ul li a:hover {
	background: rgba(134, 191, 115, 0.2);
}
.jobguide_dps_list ul li a:hover {
	background: rgba(229, 161, 161, 0.2);
}

.jobguide_dps h3 img {
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin-right: 2px;
}

.job_tab--pve,
.job_tab--pvp {
	width: 480px;
	height: 48px;
	float: left;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: center;
	cursor: pointer;
}
.range,
.radius {
	text-align: center;
}
/* Незабыть потом удалить эту фигню */
.job_none {position: relative;}
.job_none a {pointer-events: none;}
.job_none a {filter: opacity(0.5);}
.job_none span {
	background: var(--dps-color);
	box-shadow: 0px 0px 5px 0px var(--dps-color);
	color: white;
	padding: 5px;
	border-radius: 10px;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	display: block;
	right: 15px;
	bottom: 15px;
	width: max-content;
	height: max-content;
	transition: all 0.4s;
	opacity: 0;
}
.job_none:hover span {
	opacity: 1;
	transition: all 0.4s;
}
.job_none span:before {
	content: " ";
	display: block;
	position: absolute;
	border-color: transparent #732828 transparent transparent;
	border-style: solid;
	border-width: 10px;
	bottom: 4px;
	left: -17px;
	z-index: 0;
}
/* Color Set */
.jobguide_tank {
	box-shadow: 0px 0px 5px 0px var(--tank-color);
	border-radius: 10px;
}
.jobguide_healer {
	box-shadow: 0px 0px 5px 0px var(--healer-color);
	border-radius: 10px;
}
.jobguide__dps{
	box-shadow: 0px 0px 5px 0px var(--dps-color);
	border-radius: 10px;
}
