.job_pld {
   background: url(../img/PLD/haider.jpg) no-repeat center top #192455;
   background-attachment: fixed;
}
.job_war {
   background: url(../img/WAR/haider.jpg) no-repeat center top #192455;
   background-attachment: fixed;
}
.job_drk {
   background: url(../img/DRK/haider.jpg) no-repeat center top #192455;
   background-attachment: fixed;
}
.job_gnb {
   background: url(../img/GNB/haider.jpg) no-repeat center top #192455;
   background-attachment: fixed;
}
.job_whm {
   background: url(../img/WHM/haider.jpg) no-repeat center top #1d4214;
   background-attachment: fixed;
}