.job_pld {
	background: url(../img/JobHaider/HaiderPLD.jpg) no-repeat center top #192455;
	background-attachment: fixed;
}
.job_war {
	background: url(../img/JobHaider/HaiderWAR.jpg) no-repeat center top #192455;
	background-attachment: fixed;
}
.job_drk {
	background: url(../img/JobHaider/HaiderDRK.jpg) no-repeat center top #192455;
	background-attachment: fixed;
}
.job_gnb {
	background: url(../img/JobHaider/HaiderGNB.jpg) no-repeat center top #192455;
	background-attachment: fixed;
}
.job_whm {
	background: url(../img/JobHaider/HaiderWHM.jpg) no-repeat center top #1d4214;
	background-attachment: fixed;
}
.job_sch {
	background: url(../img/JobHaider/HaiderSCH.jpg) no-repeat center top #1d4214;
	background-attachment: fixed;
}
.job_ast {
	background: url(../img/JobHaider/HaiderAST.jpg) no-repeat center top #1d4214;
	background-attachment: fixed;
}
.job_sge {
	background: url(../img/JobHaider/HaiderSGE.jpg) no-repeat center top #1d4214;
	background-attachment: fixed;
}
.job_mnk {
	background: url(../img/JobHaider/HaiderMNK.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_drg {
	background: url(../img/JobHaider/HaiderDRG.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_nin {
	background: url(../img/JobHaider/HaiderNIN.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_sam {
	background: url(../img/JobHaider/HaiderSAM.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_rpr {
	background: url(../img/JobHaider/HaiderRPR.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_vpr {
	background: url(../img/JobHaider/HaiderVPR.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_brd {
	background: url(../img/JobHaider/HaiderBRD.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_mch {
	background: url(../img/JobHaider/HaiderMCH.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_dnc {
	background: url(../img/JobHaider/HaiderDNC.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_blm {
	background: url(../img/JobHaider/HaiderBLM.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_smn {
	background: url(../img/JobHaider/HaiderSMN.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_rdm {
	background: url(../img/JobHaider/HaiderRDM.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_pct {
	background: url(../img/JobHaider/HaiderPCT.jpg) no-repeat center top #4f1717;
	background-attachment: fixed;
}
.job_blu {
	background: url(../img/JobHaider/HaiderBLU.jpg) no-repeat center top #23396a;
	background-attachment: fixed;
}
.job_crp {
	background: url(../img/JobHaider/HaiderCRP.jpg) no-repeat center top #27174c;
	background-attachment: fixed;
}
.job_bsm {
	background: url(../img/JobHaider/HaiderBSM.jpg) no-repeat center top #27174c;
	background-attachment: fixed;
}
.job_arm {
	background: url(../img/JobHaider/HaiderARM.jpg) no-repeat center top #27174c;
	background-attachment: fixed;
}
.job_gsm {
	background: url(../img/JobHaider/HaiderGSM.jpg) no-repeat center top #27174c;
	background-attachment: fixed;
}
.job_ltw {
	background: url(../img/JobHaider/HaiderLTW.jpg) no-repeat center top #27174c;
	background-attachment: fixed;
}
.job_wvr {
	background: url(../img/JobHaider/HaiderWVR.jpg) no-repeat center top #27174c;
	background-attachment: fixed;
}
.job_alc {
	background: url(../img/JobHaider/HaiderALC.jpg) no-repeat center top #27174c;
	background-attachment: fixed;
}
.job_cul {
	background: url(../img/JobHaider/HaiderCUL.jpg) no-repeat center top #27174c;
	background-attachment: fixed;
}
.job_min {
	background: url(../img/JobHaider/HaiderMIN.jpg) no-repeat center top #554317;
	background-attachment: fixed;
}
.job_btn {
	background: url(../img/JobHaider/HaiderBTN.jpg) no-repeat center top #554317;
	background-attachment: fixed;
}
.job_fsh {
	background: url(../img/JobHaider/HaiderFSH.jpg) no-repeat center top #554317;
	background-attachment: fixed;
}