.job_pld {
   background: url(../img/PLD/haider.jpg) no-repeat center top #192455;
   background-attachment: fixed;
}
.job_war {
   background: url(../img/WAR/haider.jpg) no-repeat center top #192455;
   background-attachment: fixed;
}