
.job_combo_text {
	margin: 0 10px 32px;
	font-size: 14px;
}

.job_update {
	margin-bottom: 6px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	color: #585858;
	font-family: 'Noto Sans', sans-serif;
}

.job_text {
	margin: 0 10px 16px;
	font-size: 14px;
}
.job_content_wrapper {
	margin-bottom: 64px;
}

.job_header {
	height: 380px;
	display: block;
}

.job_header_inner {
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
}

.job_header_guide_top {
	background: url(../img/main/back_off.png) no-repeat;
	display: flex;
	align-items: center;
	width: 200px;
	height: 28px;
	margin-bottom: 4px;
	padding-left: 22px;
	position: relative;
	transition: all 0.4s;
}

.job_header_guide_top:hover {
	background: url(../img/main/back_on.png) no-repeat;
	transition: all 0.4s;
}

.job_header_guide_top span {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 1px 4px #000;
	position: relative;
}

.job_header_nome {
	margin-bottom: 4px;
}
.job_header_role {
	margin-left: 16px;
	display: block;
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}
.job_header_role img {
	display: inline-block;
	margin-right: 4px;
	width: 32px;
	height: 32px;
}

img {
	border: 0;
	vertical-align: bottom;
}

.job_header_text {
	background: url(../img/main/job_text.png) no-repeat left top;
	backdrop-filter: blur(5px);
   border-radius: 10px;
	width: 472px;
	height: 178px;
	padding: 14px 0 16px 16px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.job_header_text p {
	font-size: 14px;
	color: #f5f5f5;
	text-shadow: 0px 1px 4px #000;
	height: 155px;
	overflow: overlay;
	margin: 0 !important;
	padding-right: 16px;
	position: relative;
	display: block;
}

.job_header_quest {
	margin-top: 10px;
	margin-left: 6px;
}
.job_db {
	display: inline-block;
	margin-right: 16px;
}
.job_db span {
	background: #333333;
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
	border-radius: 12px;
	display: block;
	position: relative;
	padding: 1px 16px 0 36px;
	height: 24px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 22px;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}
.job_db span img {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -16px;
	width: 32px;
	height: 32px;
}

.job_skil_list {
	width: 960px;
	height: 1%;
	margin: 0 auto;
	padding: 16px 0 16px;
	position: static;
}

.job_skil_db-pve,.job_skil_db-pvp {
	position: static;
	-moz-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset, 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
	-webkit-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset, 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset, 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 16px 10px 10px;
}
.job_skil_db-pve{
	background: #e5e3d3;
}
.job_skil_db-pvp{
	background: #d9d9d9;
}
.eorzeadb_link {
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}

.job_notes_lvl {
	background: #fffceb;
	border-radius: 6px;
	margin: 10px 0;
	padding: 6px;
	font-size: 14px;
	font-weight: bold;
	color: #b36b24;
	text-align: center;
}

/* Job Slil List */

.job_tbody td .class_quest {
	color: #b36b24;
	font-weight: bold;
	font-size: 10px;
}

.job_skill_icon {
	position: relative;
	width: 48px;
	height: 48px;
	display: inline-block;
	background: url(../img/main/skil_icon.png) no-repeat 4px 2px;
	-moz-background-size: 40px 40px;
	-o-background-size: 40px 40px;
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	vertical-align: middle;
}

.job_skill_icon:after {
	content: '';
	background: url(../img/main/skil_icon_on.png) no-repeat;
	width: 48px;
	height: 48px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.job_skill_icon p {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	z-index: 5;
}
.job_skill_icon img {
	width: 40px;
	height: 40px;
}

.jobclass_wrapper_icon img {
	width: 32px;
	height: 32px;
}

.job_tbody td.distant_range img {
	width: 16px;
	height: 16px;
}

/* Tank */
.job_tank .job_title {
	background: var(--tank-color);
}
.job_tank .job_thead p,
.job_tank .job_combo_title_sequence,
.job_tank .job_combo_title_effect,
.job_tank ~ .nome_app_top .app_top:hover {
	background: var(--tank-AltColor);
}
.job_tank .job_sub_title,
.job_tank .job_hud_title,
.job_menu_tank .job_nav_title a {
	color: var(--tank-color);
}
.job_tank .nav_floating_icon {
	background-color: var(--tank-color);
	box-shadow: 1px 1px 5px var(--tank-color);
}
.job_tank .nav_floating_icon:hover {
	background-color: var(--tank-AltColor);
}
/* Healer */
.job_healer .job_title {
	background: var(--healer-color);
}
.job_healer .job_thead p,
.job_healer .job_combo_title_sequence,
.job_healer .job_combo_title_effect,
.job_healer ~ .nome_app_top .app_top:hover {
	background: var(--healer-AltColor);
}
.job_healer .job_sub_title,
.job_healer .job_hud_title,
.job_menu_healer .job_nav_title a {
	color: var(--healer-color);
}
.job_healer .nav_floating_icon {
	background-color: var(--healer-color);
	box-shadow: 1px 1px 5px var(--healer-color);
}
.job_healer .nav_floating_icon:hover {
	background-color: var(--healer-AltColor);
}
/* DPS */
.job_dps .job_title {
	background: var(--dps-color);
}
.job_dps .job_thead p,
.job_dps .job_combo_title_sequence,
.job_dps .job_combo_title_effect,
.job_dps ~ .nome_app_top .app_top:hover {
	background: var(--dps-AltColor);
}
.job_dps .job_sub_title,
.job_dps .job_hud_title,
.job_menu_dps .job_nav_title a {
	color: var(--dps-color);
}
.job_dps .nav_floating_icon {
	background-color: var(--dps-color);
	box-shadow: 1px 1px 5px var(--dps-color);
}
.job_dps .nav_floating_icon:hover {
	background-color: var(--dps-AltColor);
}
/* Tabs */
.js-tab-content {
	visibility: hidden;
	opacity: 0;
	display: none;
}
.js-tab-content.active {
	visibility: visible;
	opacity: 1;
	display: block;
}